## Accessibility Analysis for Bangladesh using GOSTnets Raster
Use GOSTnets raster and GOSTnets to calculate Market Access using a gravity model.

### Inputs:
    - origins: population grid
    - destinations: Ports
    
Friction layer is the Global Friction Surface 2019 from the Malaria Access Project (https://malariaatlas.org/research-project/accessibility-to-healthcare/)

In [1]:
import sys, os, importlib
import rasterio

import numpy as np
import pandas as pd
import geopandas as gpd
import osmnx as ox
sys.path.append(r"C:\repos\GOSTnets")
import GOSTnets as gn
import skimage.graph as graph

from rasterio.mask import mask
from rasterio import features

from shapely.geometry import box, Point, Polygon
from scipy.ndimage import generic_filter
from pandana.loaders import osm

sys.path.append("../")

# sys.path.append(r"C:\repos\INFRA_SAP")
# import infrasap.market_access as ma
# importlib.reload(ma)

C:\Users\war-machine\anaconda3\envs\gostnets3_8\lib\site-packages\geopandas\_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1dev-CAPI-1.14.1) is incompatible with the GEOS version PyGEOS was compiled with (3.9.1-CAPI-1.14.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
sys.path.append(r"C:\repos\gostrocks\src")
import GOSTRocks.rasterMisc as rMisc
importlib.reload(rMisc)

In [3]:
sys.path.append(r"C:\repos\GOSTNets_Raster\src")
import GOSTNetsRaster.market_access as ma
importlib.reload(ma)

In [4]:
global_friction = r"D:\data\global_friction_surface\2020_motorized_friction_surface.geotiff"

In [5]:
# WorldPop
origins_file = r"inputs\bgd_pd_2020_1km.tif"

In [6]:
admin = r"inputs\BGD_corridor1_and_2_min_dissolved2.shp"

In [7]:
# You need the bounding box to be a min bounding box, not the actual shape or else the results are weird 
admin_bound = r"inputs\BGD_corridor1_and_2_min_bounds.shp"

In [8]:
out_folder = r"outputs"
if not os.path.exists(out_folder):
    os.makedirs(out_folder)

In [9]:
friction_file = os.path.join(out_folder, "friction_surface3.tif")

In [10]:
#clip global friction surface to admin area bounding box
if not os.path.exists(friction_file):
    rMisc.clipRaster(rasterio.open(global_friction), gpd.read_file(admin_bound), friction_file)

In [11]:
travel_costs_output_raster = os.path.join(out_folder, "BGD_ma_least_cost_travel_time_ports.tif")

## 1. Standardize or Co-register population file to match the friction surface raster

In [12]:
# create friction surface
inR = rasterio.open(friction_file)

In [13]:
inPop = rasterio.open(origins_file)
# Make sure that both rasters have the exact same resolution, crs, and number of pixels
out_pop_surface_std = os.path.join(out_folder, "BGD_pd_2020_1km_STD_MA.tif")
if not os.path.exists(out_pop_surface_std):
    rMisc.standardizeInputRasters(inPop, inR, out_pop_surface_std, data_type="C")

## 2. Import urban extent centroids

In [14]:
from rasterstats import zonal_stats

In [15]:
admin4_polygons = r"inputs\BGD_admin4_overlapping_corridors1_and_2.shp"
admin4_polygons = gpd.read_file(admin4_polygons)

In [16]:
admin4_polygons[:2]

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,ID_4,NAME_4,VARNAME_4,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry
0,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8886,Nawabganj Dh,Dhaka,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,"POLYGON ((90.15996 23.74899, 90.16160 23.74695..."
1,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8887,Savar,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.033487,0.030875,"POLYGON ((90.34810 24.03533, 90.34845 24.03257..."

In [17]:
#read in the co-registered population surface file
popR = rasterio.open(out_pop_surface_std)
popD = popR.read()

In [18]:
# code to replace all negative values with 0
popD[popD<0] = 0

In [19]:
# save pop raster too for later
out_meta = popR.meta.copy()
Pop_raster = os.path.join(out_folder, "Pop_raster.tif")
with rasterio.open(Pop_raster, "w", **out_meta) as dest:
    dest.write(popD.astype(out_meta['dtype']))

In [20]:
# summarize the population sum per admin area
statsPop = zonal_stats(admin4_polygons, Pop_raster, stats=['sum'])

In [21]:
# join the population sum to each admin area
admin4_centroids_w_PopSUM = admin4_polygons.join(pd.DataFrame(statsPop))

In [22]:
admin4_centroids_w_PopSUM.rename(columns={'sum':'popsum'}, inplace=True)

In [23]:
admin4_centroids_w_PopSUM[:3]

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,ID_4,...,VARNAME_4,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,popsum
0,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8886,...,Dhaka,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,"POLYGON ((90.15996 23.74899, 90.16160 23.74695...",539776.5
1,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8887,...,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.033487,0.030875,"POLYGON ((90.34810 24.03533, 90.34845 24.03257...",2428921.0
2,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8888,...,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.768723,0.026482,"POLYGON ((90.46078 23.88508, 90.46143 23.87958...",15358978.0

In [24]:
admin4_centroids_w_PopSUM.set_index("ID_4", inplace=True)

In [25]:
#replace polygon geometry with centroid geometry
admin4_centroids_w_PopSUM.geometry = admin4_centroids_w_PopSUM.representative_point()

In [26]:
admin4_centroids_w_PopSUM[:3]

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,NAME_4,VARNAME_4,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,popsum
ID_4,,,,,,,,,,,,,,,,,,,,
8886,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Nawabganj Dh,Dhaka,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,POINT (90.14986 23.65921),539776.5
8887,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Savar,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.033487,0.030875,POINT (90.29510 23.89213),2428921.0
8888,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Tejgaon,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.768723,0.026482,POINT (90.40635 23.78716),15358978.0

In [27]:
admin4_centroids_w_PopSUM

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,NAME_4,VARNAME_4,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,popsum
ID_4,,,,,,,,,,,,,,,,,,,,
8886,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Nawabganj Dh,Dhaka,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,POINT (90.14986 23.65921),5.397765e+05
8887,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Savar,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.033487,0.030875,POINT (90.29510 23.89213),2.428921e+06
8888,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Tejgaon,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.768723,0.026482,POINT (90.40635 23.78716),1.535898e+07
8889,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3642,Gazipur,Gazipur S.,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,May be the capital city of zila,1.045429,0.030622,POINT (90.39520 24.02962),3.671253e+06
8890,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3642,Gazipur,Kaliakair,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.903742,0.027321,POINT (90.28579 24.12798),9.753927e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9044,23,BGD,Bangladesh,328,Khulna,3110,Khulna,3666,Shatkhira,Kalaroa,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.948097,0.021863,POINT (89.03846 22.87506),3.152081e+05
9047,23,BGD,Bangladesh,328,Khulna,3110,Khulna,3666,Shatkhira,Shyamnagar,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,10.511822,0.134612,POINT (89.11709 22.24333),4.098161e+05
9048,23,BGD,Bangladesh,328,Khulna,3110,Khulna,3666,Shatkhira,Tala,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.557520,0.029202,POINT (89.21982 22.73178),3.974542e+05
9190,23,BGD,Bangladesh,330,Sylhet,3117,Sylhet,3686,Hobiganj,Lakhai,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.721331,0.016889,POINT (91.25148 24.30097),2.246393e+05
9191,23,BGD,Bangladesh,330,Sylhet,3117,Sylhet,3686,Hobiganj,Madhabpur,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.012422,0.024390,POINT (91.34354 24.12302),4.639872e+05

## 3. Prepare origins (population grid)
Convert from raster format to csv/geopandas data frame

In [28]:
pop_surf = rasterio.open(out_pop_surface_std)
# You can get a Numpy masked array that covers up nodata values from Rasterio by adding a keyword argument: src.read(1, masked=True)
# https://gis.stackexchange.com/questions/224043/excluding-nodata-value-in-band-calculation-with-rasterio
pop = pop_surf.read(1, masked=True)

In [29]:
indices = list(np.ndindex(pop.shape))

In [30]:
indices

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (0, 10),
 (0, 11),
 (0, 12),
 (0, 13),
 (0, 14),
 (0, 15),
 (0, 16),
 (0, 17),
 (0, 18),
 (0, 19),
 (0, 20),
 (0, 21),
 (0, 22),
 (0, 23),
 (0, 24),
 (0, 25),
 (0, 26),
 (0, 27),
 (0, 28),
 (0, 29),
 (0, 30),
 (0, 31),
 (0, 32),
 (0, 33),
 (0, 34),
 (0, 35),
 (0, 36),
 (0, 37),
 (0, 38),
 (0, 39),
 (0, 40),
 (0, 41),
 (0, 42),
 (0, 43),
 (0, 44),
 (0, 45),
 (0, 46),
 (0, 47),
 (0, 48),
 (0, 49),
 (0, 50),
 (0, 51),
 (0, 52),
 (0, 53),
 (0, 54),
 (0, 55),
 (0, 56),
 (0, 57),
 (0, 58),
 (0, 59),
 (0, 60),
 (0, 61),
 (0, 62),
 (0, 63),
 (0, 64),
 (0, 65),
 (0, 66),
 (0, 67),
 (0, 68),
 (0, 69),
 (0, 70),
 (0, 71),
 (0, 72),
 (0, 73),
 (0, 74),
 (0, 75),
 (0, 76),
 (0, 77),
 (0, 78),
 (0, 79),
 (0, 80),
 (0, 81),
 (0, 82),
 (0, 83),
 (0, 84),
 (0, 85),
 (0, 86),
 (0, 87),
 (0, 88),
 (0, 89),
 (0, 90),
 (0, 91),
 (0, 92),
 (0, 93),
 (0, 94),
 (0, 95),
 (0, 96),
 (0, 97),
 (0, 98),
 (0, 99),
 (0, 100),
 (0, 101),
 (0, 102),
 (0, 103),
 (0, 104),
 (0, 105),
 (0, 106),
 (0, 107),
 (0, 108),
 (0, 109),
 (0, 110),
 (0, 111),
 (0, 112),
 (0, 113),
 (0, 114),
 (0, 115),
 (0, 116),
 (0, 117),
 (0, 118),
 (0, 119),
 (0, 120),
 (0, 121),
 (0, 122),
 (0, 123),
 (0, 124),
 (0, 125),
 (0, 126),
 (0, 127),
 (0, 128),
 (0, 129),
 (0, 130),
 (0, 131),
 (0, 132),
 (0, 133),
 (0, 134),
 (0, 135),
 (0, 136),
 (0, 137),
 (0, 138),
 (0, 139),
 (0, 140),
 (0, 141),
 (0, 142),
 (0, 143),
 (0, 144),
 (0, 145),
 (0, 146),
 (0, 147),
 (0, 148),
 (0, 149),
 (0, 150),
 (0, 151),
 (0, 152),
 (0, 153),
 (0, 154),
 (0, 155),
 (0, 156),
 (0, 157),
 (0, 158),
 (0, 159),
 (0, 160),
 (0, 161),
 (0, 162),
 (0, 163),
 (0, 164),
 (0, 165),
 (0, 166),
 (0, 167),
 (0, 168),
 (0, 169),
 (0, 170),
 (0, 171),
 (0, 172),
 (0, 173),
 (0, 174),
 (0, 175),
 (0, 176),
 (0, 177),
 (0, 178),
 (0, 179),
 (0, 180),
 (0, 181),
 (0, 182),
 (0, 183),
 (0, 184),
 (0, 185),
 (0, 186),
 (0, 187),
 (0, 188),
 (0, 189),
 (0, 190),
 (0, 191),
 (0, 192),
 (0, 193),
 (0, 194),
 (0, 195),
 (0, 196),
 (0, 197),
 (0, 198),
 (0, 199),
 (0, 200),
 (0, 201),
 (0, 202),
 (0, 203),
 (0, 204),
 (0, 205),
 (0, 206),
 (0, 207),
 (0, 208),
 (0, 209),
 (0, 210),
 (0, 211),
 (0, 212),
 (0, 213),
 (0, 214),
 (0, 215),
 (0, 216),
 (0, 217),
 (0, 218),
 (0, 219),
 (0, 220),
 (0, 221),
 (0, 222),
 (0, 223),
 (0, 224),
 (0, 225),
 (0, 226),
 (0, 227),
 (0, 228),
 (0, 229),
 (0, 230),
 (0, 231),
 (0, 232),
 (0, 233),
 (0, 234),
 (0, 235),
 (0, 236),
 (0, 237),
 (0, 238),
 (0, 239),
 (0, 240),
 (0, 241),
 (0, 242),
 (0, 243),
 (0, 244),
 (0, 245),
 (0, 246),
 (0, 247),
 (0, 248),
 (0, 249),
 (0, 250),
 (0, 251),
 (0, 252),
 (0, 253),
 (0, 254),
 (0, 255),
 (0, 256),
 (0, 257),
 (0, 258),
 (0, 259),
 (0, 260),
 (0, 261),
 (0, 262),
 (0, 263),
 (0, 264),
 (0, 265),
 (0, 266),
 (0, 267),
 (0, 268),
 (0, 269),
 (0, 270),
 (0, 271),
 (0, 272),
 (0, 273),
 (0, 274),
 (0, 275),
 (0, 276),
 (0, 277),
 (0, 278),
 (0, 279),
 (0, 280),
 (0, 281),
 (0, 282),
 (0, 283),
 (0, 284),
 (0, 285),
 (0, 286),
 (0, 287),
 (0, 288),
 (0, 289),
 (0, 290),
 (0, 291),
 (0, 292),
 (0, 293),
 (0, 294),
 (0, 295),
 (0, 296),
 (0, 297),
 (0, 298),
 (0, 299),
 (0, 300),
 (0, 301),
 (0, 302),
 (0, 303),
 (0, 304),
 (0, 305),
 (0, 306),
 (0, 307),
 (0, 308),
 (0, 309),
 (0, 310),
 (0, 311),
 (0, 312),
 (0, 313),
 (0, 314),
 (0, 315),
 (0, 316),
 (0, 317),
 (0, 318),
 (0, 319),
 (0, 320),
 (0, 321),
 (0, 322),
 (0, 323),
 (0, 324),
 (0, 325),
 (0, 326),
 (0, 327),
 (0, 328),
 (0, 329),
 (0, 330),
 (0, 331),
 (0, 332),
 (0, 333),
 (0, 334),
 (0, 335),
 (0, 336),
 (0, 337),
 (0, 338),
 (0, 339),
 (0, 340),
 (0, 341),
 (0, 342),
 (0, 343),
 (0, 344),
 (0, 345),
 (0, 346),
 (0, 347),
 (0, 348),
 (0, 349),
 (0, 350),
 (0, 351),
 (0, 352),
 (0, 353),
 (0, 354),
 (0, 355),
 (0, 356),
 (0, 357),
 (0, 358),
 (0, 359),
 (0, 360),
 (0, 361),
 (0, 362),
 (0, 363),
 (0, 364),
 (0, 365),
 (0, 366),
 (0, 367),
 (0, 368),
 (0, 369),
 (0, 370),
 (0, 371),
 (0, 372),
 (0, 373),
 (0, 374),
 (0, 375),
 (0, 376),
 (0, 377),
 (0, 378),
 (0, 379),
 (0, 380),
 (0, 381),
 (0, 382),
 (0, 383),
 (0, 384),
 (0, 385),
 (0, 386),
 (0, 387),
 (0, 388),
 (0, 389),
 (0, 390),
 (0, 391),
 (0, 392),
 (0, 393),
 (0, 394),
 (0, 395),
 (0, 396),
 (0, 397),
 (0, 398),
 (0, 399),
 (0, 400),
 (0, 401),
 (0, 402),
 (0, 403),
 (0, 404),
 (0, 405),
 (0, 406),
 (0, 407),
 (0, 408),
 (0, 409),
 (0, 410),
 (0, 411),
 (0, 412),
 (0, 413),
 (0, 414),
 (0, 415),
 (0, 416),
 (0, 417),
 (0, 418),
 (0, 419),
 (0, 420),
 (0, 421),
 (0, 422),
 (0, 423),
 (0, 424),
 (0, 425),
 (0, 426),
 (0, 427),
 (0, 428),
 (0, 429),
 (0, 430),
 (0, 431),
 (0, 432),
 (0, 433),
 (0, 434),
 (0, 435),
 (0, 436),
 (0, 437),
 (0, 438),
 (0, 439),
 (0, 440),
 (0, 441),
 (0, 442),
 (0, 443),
 (0, 444),
 (0, 445),
 (0, 446),
 (0, 447),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (1, 15),
 (1, 16),
 (1, 17),
 (1, 18),
 (1, 19),
 (1, 20),
 (1, 21),
 (1, 22),
 (1, 23),
 (1, 24),
 (1, 25),
 (1, 26),
 (1, 27),
 (1, 28),
 (1, 29),
 (1, 30),
 (1, 31),
 (1, 32),
 (1, 33),
 (1, 34),
 (1, 35),
 (1, 36),
 (1, 37),
 (1, 38),
 (1, 39),
 (1, 40),
 (1, 41),
 (1, 42),
 (1, 43),
 (1, 44),
 (1, 45),
 (1, 46),
 (1, 47),
 (1, 48),
 (1, 49),
 (1, 50),
 (1, 51),
 (1, 52),
 (1, 53),
 (1, 54),
 (1, 55),
 (1, 56),
 (1, 57),
 (1, 58),
 (1, 59),
 (1, 60),
 (1, 61),
 (1, 62),
 (1, 63),
 (1, 64),
 (1, 65),
 (1, 66),
 (1, 67),
 (1, 68),
 (1, 69),
 (1, 70),
 (1, 71),
 (1, 72),
 (1, 73),
 (1, 74),
 (1, 75),
 (1, 76),
 (1, 77),
 (1, 78),
 (1, 79),
 (1, 80),
 (1, 81),
 (1, 82),
 (1, 83),
 (1, 84),
 (1, 85),
 (1, 86),
 (1, 87),
 (1, 88),
 (1, 89),
 (1, 90),
 (1, 91),
 (1, 92),
 (1, 93),
 (1, 94),
 (1, 95),
 (1, 96),
 (1, 97),
 (1, 98),
 (1, 99),
 (1, 100),
 (1, 101),
 (1, 102),
 (1, 103),
 (1, 104),
 (1, 105),
 (1, 106),
 (1, 107),
 (1, 108),
 (1, 109),
 (1, 110),
 (1, 111),
 (1, 112),
 (1, 113),
 (1, 114),
 (1, 115),
 (1, 116),
 (1, 117),
 (1, 118),
 (1, 119),
 (1, 120),
 (1, 121),
 (1, 122),
 (1, 123),
 (1, 124),
 (1, 125),
 (1, 126),
 (1, 127),
 (1, 128),
 (1, 129),
 (1, 130),
 (1, 131),
 (1, 132),
 (1, 133),
 (1, 134),
 (1, 135),
 (1, 136),
 (1, 137),
 (1, 138),
 (1, 139),
 (1, 140),
 (1, 141),
 (1, 142),
 (1, 143),
 (1, 144),
 (1, 145),
 (1, 146),
 (1, 147),
 (1, 148),
 (1, 149),
 (1, 150),
 (1, 151),
 (1, 152),
 (1, 153),
 (1, 154),
 (1, 155),
 (1, 156),
 (1, 157),
 (1, 158),
 (1, 159),
 (1, 160),
 (1, 161),
 (1, 162),
 (1, 163),
 (1, 164),
 (1, 165),
 (1, 166),
 (1, 167),
 (1, 168),
 (1, 169),
 (1, 170),
 (1, 171),
 (1, 172),
 (1, 173),
 (1, 174),
 (1, 175),
 (1, 176),
 (1, 177),
 (1, 178),
 (1, 179),
 (1, 180),
 (1, 181),
 (1, 182),
 (1, 183),
 (1, 184),
 (1, 185),
 (1, 186),
 (1, 187),
 (1, 188),
 (1, 189),
 (1, 190),
 (1, 191),
 (1, 192),
 (1, 193),
 (1, 194),
 (1, 195),
 (1, 196),
 (1, 197),
 (1, 198),
 (1, 199),
 (1, 200),
 (1, 201),
 (1, 202),
 (1, 203),
 (1, 204),
 (1, 205),
 (1, 206),
 (1, 207),
 (1, 208),
 (1, 209),
 (1, 210),
 (1, 211),
 (1, 212),
 (1, 213),
 (1, 214),
 (1, 215),
 (1, 216),
 (1, 217),
 (1, 218),
 (1, 219),
 (1, 220),
 (1, 221),
 (1, 222),
 (1, 223),
 (1, 224),
 (1, 225),
 (1, 226),
 (1, 227),
 (1, 228),
 (1, 229),
 (1, 230),
 (1, 231),
 (1, 232),
 (1, 233),
 (1, 234),
 (1, 235),
 (1, 236),
 (1, 237),
 (1, 238),
 (1, 239),
 (1, 240),
 (1, 241),
 (1, 242),
 (1, 243),
 (1, 244),
 (1, 245),
 (1, 246),
 (1, 247),
 (1, 248),
 (1, 249),
 (1, 250),
 (1, 251),
 (1, 252),
 (1, 253),
 (1, 254),
 (1, 255),
 (1, 256),
 (1, 257),
 (1, 258),
 (1, 259),
 (1, 260),
 (1, 261),
 (1, 262),
 (1, 263),
 (1, 264),
 (1, 265),
 (1, 266),
 (1, 267),
 (1, 268),
 (1, 269),
 (1, 270),
 (1, 271),
 (1, 272),
 (1, 273),
 (1, 274),
 (1, 275),
 (1, 276),
 (1, 277),
 (1, 278),
 (1, 279),
 (1, 280),
 (1, 281),
 (1, 282),
 (1, 283),
 (1, 284),
 (1, 285),
 (1, 286),
 (1, 287),
 (1, 288),
 (1, 289),
 (1, 290),
 (1, 291),
 (1, 292),
 (1, 293),
 (1, 294),
 (1, 295),
 (1, 296),
 (1, 297),
 (1, 298),
 (1, 299),
 (1, 300),
 (1, 301),
 (1, 302),
 (1, 303),
 (1, 304),
 (1, 305),
 (1, 306),
 (1, 307),
 (1, 308),
 (1, 309),
 (1, 310),
 (1, 311),
 (1, 312),
 (1, 313),
 (1, 314),
 (1, 315),
 (1, 316),
 (1, 317),
 (1, 318),
 (1, 319),
 (1, 320),
 (1, 321),
 (1, 322),
 (1, 323),
 (1, 324),
 (1, 325),
 (1, 326),
 (1, 327),
 (1, 328),
 (1, 329),
 (1, 330),
 (1, 331),
 (1, 332),
 (1, 333),
 (1, 334),
 (1, 335),
 (1, 336),
 (1, 337),
 (1, 338),
 (1, 339),
 (1, 340),
 (1, 341),
 (1, 342),
 (1, 343),
 (1, 344),
 (1, 345),
 (1, 346),
 (1, 347),
 (1, 348),
 (1, 349),
 (1, 350),
 (1, 351),
 (1, 352),
 (1, 353),
 (1, 354),
 (1, 355),
 (1, 356),
 (1, 357),
 (1, 358),
 (1, 359),
 (1, 360),
 (1, 361),
 (1, 362),
 (1, 363),
 (1, 364),
 (1, 365),
 (1, 366),
 (1, 367),
 (1, 368),
 (1, 369),
 (1, 370),
 (1, 371),
 (1, 372),
 (1, 373),
 (1, 374),
 (1, 375),
 (1, 376),
 (1, 377),
 (1, 378),
 (1, 379),
 (1, 380),
 (1, 381),
 (1, 382),
 (1, 383),
 (1, 384),
 (1, 385),
 (1, 386),
 (1, 387),
 (1, 388),
 (1, 389),
 (1, 390),
 (1, 391),
 (1, 392),
 (1, 393),
 (1, 394),
 (1, 395),
 (1, 396),
 (1, 397),
 (1, 398),
 (1, 399),
 (1, 400),
 (1, 401),
 (1, 402),
 (1, 403),
 (1, 404),
 (1, 405),
 (1, 406),
 (1, 407),
 (1, 408),
 (1, 409),
 (1, 410),
 (1, 411),
 (1, 412),
 (1, 413),
 (1, 414),
 (1, 415),
 (1, 416),
 (1, 417),
 (1, 418),
 (1, 419),
 (1, 420),
 (1, 421),
 (1, 422),
 (1, 423),
 (1, 424),
 (1, 425),
 (1, 426),
 (1, 427),
 (1, 428),
 (1, 429),
 (1, 430),
 (1, 431),
 (1, 432),
 (1, 433),
 (1, 434),
 (1, 435),
 (1, 436),
 (1, 437),
 (1, 438),
 (1, 439),
 (1, 440),
 (1, 441),
 (1, 442),
 (1, 443),
 (1, 444),
 (1, 445),
 (1, 446),
 (1, 447),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (2, 15),
 (2, 16),
 (2, 17),
 (2, 18),
 (2, 19),
 (2, 20),
 (2, 21),
 (2, 22),
 (2, 23),
 (2, 24),
 (2, 25),
 (2, 26),
 (2, 27),
 (2, 28),
 (2, 29),
 (2, 30),
 (2, 31),
 (2, 32),
 (2, 33),
 (2, 34),
 (2, 35),
 (2, 36),
 (2, 37),
 (2, 38),
 (2, 39),
 (2, 40),
 (2, 41),
 (2, 42),
 (2, 43),
 (2, 44),
 (2, 45),
 (2, 46),
 (2, 47),
 (2, 48),
 (2, 49),
 (2, 50),
 (2, 51),
 (2, 52),
 (2, 53),
 (2, 54),
 (2, 55),
 (2, 56),
 (2, 57),
 (2, 58),
 (2, 59),
 (2, 60),
 (2, 61),
 (2, 62),
 (2, 63),
 (2, 64),
 (2, 65),
 (2, 66),
 (2, 67),
 (2, 68),
 (2, 69),
 (2, 70),
 (2, 71),
 (2, 72),
 (2, 73),
 (2, 74),
 (2, 75),
 (2, 76),
 (2, 77),
 (2, 78),
 (2, 79),
 (2, 80),
 (2, 81),
 (2, 82),
 (2, 83),
 (2, 84),
 (2, 85),
 (2, 86),
 (2, 87),
 (2, 88),
 (2, 89),
 (2, 90),
 (2, 91),
 (2, 92),
 (2, 93),
 (2, 94),
 (2, 95),
 (2, 96),
 (2, 97),
 (2, 98),
 (2, 99),
 (2, 100),
 (2, 101),
 (2, 102),
 (2, 103),
 ...]

In [31]:
xys = [pop_surf.xy(ind[0], ind[1]) for ind in indices]

In [32]:
res_df = pd.DataFrame({
    'spatial_index': indices, 
    'xy': xys, 
    'pop': pop.flatten()
})

In [33]:
res_df

       spatial_index                                       xy          pop
0             (0, 0)   (88.69583333333333, 24.42916666666667)   907.638000
1             (0, 1)   (88.70416666666667, 24.42916666666667)   930.021179
2             (0, 2)   (88.71249999999999, 24.42916666666667)  1120.448486
3             (0, 3)   (88.72083333333333, 24.42916666666667)  1113.935303
4             (0, 4)   (88.72916666666666, 24.42916666666667)  1093.856567
...              ...                                      ...          ...
198907    (443, 443)  (92.38749999999999, 20.737500000000004)          NaN
198908    (443, 444)  (92.39583333333333, 20.737500000000004)          NaN
198909    (443, 445)  (92.40416666666665, 20.737500000000004)          NaN
198910    (443, 446)            (92.4125, 20.737500000000004)          NaN
198911    (443, 447)  (92.42083333333332, 20.737500000000004)          NaN

[198912 rows x 3 columns]

## 4. Create friction surface

The actual units within the friction surface raster are minutes required to travel one meter. Therefore multiple by 1000 to get an approximate time in minutes it takes to cross a pixel, because 30-arcsec resolution pixel is approx. 1km by 1km at the equator. However, Bangladesh is about 23.5 degrees north of the equator. 

At the equator, an arc-second of longitude approximately equals 30.87 meters. Arc-seconds of longitude decrease in a trigonometric cosine-based fashion as one moves toward the earth's poles (https://www.esri.com/news/arcuser/0400/wdside.html).

In [3]:
import math

In [9]:
# COS of 23.5 degrees * length of arc-sec at equator * 30-arcsec
math.cos(math.radians(23.5)) * 30.87 * 30

849.2893348880634

In [34]:
frictionD = inR.read()[0,:,:] * 849

In [35]:
type(frictionD)

numpy.ndarray

In [36]:
inR.crs

CRS.from_epsg(4326)

In [37]:
# Correct no data values
frictionD[frictionD < 0] = 99999999

In [38]:
mcp = graph.MCP_Geometric(frictionD)

## 5. Calculate Travel Time
We are building the OD-matrix. To do this we are looping through the admin centroids, these will be the destinations; and each loop will find the travel time from all origins. All the loops will build the total OD-matrix.

In [39]:
### intermediary test

In [40]:
#travel_costs_output_raster = os.path.join(out_folder, "BGD_corridor1_and_2_least_cost_test1.tif")

In [41]:
#adm4_centroids = r"inputs\BGD_admin4_overlapping_corridors1_and_2_centroids.shp"
#adm4_centroids = gpd.read_file(adm4_centroids)

In [42]:
#travel_costs, traceback = ma.calculate_travel_time(inR, mcp, adm4_centroids, out_raster=travel_costs_output_raster)

In [43]:
# for each destination get cost of travel for every origin
for idx, row in admin4_centroids_w_PopSUM.iterrows():
    print(idx)
    #print(dest)
    dest_gdf = gpd.GeoDataFrame([row], geometry='geometry', crs='EPSG:4326')
    res = ma.calculate_travel_time(inR, mcp, dest_gdf)[0]
    res_df.loc[:,idx] = res.flatten()

8886
8887
8888
8889
8890
8891
8896
8897
8898
8900
8926
8927
8928
8929
8930
8931
8932
8757
8758
8759
8760
8761
8762
8763
8764
8765
8766
8767
8768
8769
8770
8771
8772
8773
8774
8775
8776
8777
8785
8787
8788
8789
8793
8794
8796
8797
8798
8802
8803
8804
8805
8806
8807
8808
8809
8810
8811
8812
8813
8814
8815
8816
8817
8818
8819
8820
8821
8822
8823
8824
8825
8826
8827
8828
8829
8830
8831
8833
8835
8836
8837
8838
8839
8840
8841
8842
8843
8844
8845
8846
8847
8848
8849
8852
8854
8858
8859
8860
8861
8862
8864
8867
8868
8869
8872
8877
8878
8881
8883
8884
8885
8901
8902
8903
8904
8905
8906
8907
8908
8909
8910
8911
8914
8915
8916
8918
8919
8920
8921
8922
8923
8924
8925
8933
8934
8935
8936
8938
8939
8940
8941
8942
8943
8956
8957
8958
8998
8999
9002
9003
9004
9005
9006
9007
9008
9009
9012
9013
9014
9016
9017
9018
9019
9020
9021
9022
9023
9024
9025
9026
9027
9028
9029
9030
9031
9032
9033
9034
9035
9036
9037
9038
9039
9040
9041
9042
9044
9047
9048
9190
9191

In [44]:
res.shape

(444, 448)

In [45]:
444*448

198912

In [46]:
res_df

,spatial_index,xy,pop,8886,8887,8888,8889,8890,8891,8896,...,9038,9039,9040,9041,9042,9044,9047,9048,9190,9191
0,"(0, 0)","(88.69583333333333, 24.42916666666667)",907.638000,7.071100e+07,7.071095e+07,7.071097e+07,7.071095e+07,7.071094e+07,7.071098e+07,7.071104e+07,...,7.071095e+07,7.071099e+07,7.071100e+07,7.071141e+07,7.071104e+07,7.071097e+07,7.071107e+07,7.071100e+07,7.071112e+07,7.071111e+07
1,"(0, 1)","(88.70416666666667, 24.42916666666667)",930.021179,5.000032e+07,5.000027e+07,5.000029e+07,5.000027e+07,5.000026e+07,5.000030e+07,5.000035e+07,...,5.000027e+07,5.000031e+07,5.000032e+07,5.000073e+07,5.000036e+07,5.000029e+07,5.000039e+07,5.000031e+07,5.000044e+07,5.000042e+07
2,"(0, 2)","(88.71249999999999, 24.42916666666667)",1120.448486,5.000032e+07,5.000026e+07,5.000028e+07,5.000027e+07,5.000025e+07,5.000030e+07,5.000035e+07,...,5.000027e+07,5.000030e+07,5.000032e+07,5.000073e+07,5.000036e+07,5.000029e+07,5.000039e+07,5.000031e+07,5.000044e+07,5.000042e+07
3,"(0, 3)","(88.72083333333333, 24.42916666666667)",1113.935303,5.000030e+07,5.000024e+07,5.000026e+07,5.000025e+07,5.000023e+07,5.000028e+07,5.000033e+07,...,5.000025e+07,5.000028e+07,5.000029e+07,5.000071e+07,5.000034e+07,5.000026e+07,5.000037e+07,5.000029e+07,5.000042e+07,5.000040e+07
4,"(0, 4)","(88.72916666666666, 24.42916666666667)",1093.856567,5.000030e+07,5.000025e+07,5.000026e+07,5.000025e+07,5.000023e+07,5.000028e+07,5.000033e+07,...,5.000025e+07,5.000029e+07,5.000030e+07,5.000071e+07,5.000034e+07,5.000027e+07,5.000037e+07,5.000029e+07,5.000042e+07,5.000040e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198907,"(443, 443)","(92.38749999999999, 20.737500000000004)",NaN,5.000062e+07,5.000061e+07,5.000058e+07,5.000062e+07,5.000064e+07,5.000061e+07,5.000074e+07,...,5.000076e+07,5.000074e+07,5.000073e+07,5.000101e+07,5.000082e+07,5.000082e+07,5.000086e+07,5.000080e+07,5.000063e+07,5.000062e+07
198908,"(443, 444)","(92.39583333333333, 20.737500000000004)",NaN,5.000063e+07,5.000062e+07,5.000059e+07,5.000063e+07,5.000065e+07,5.000062e+07,5.000075e+07,...,5.000077e+07,5.000075e+07,5.000074e+07,5.000102e+07,5.000083e+07,5.000083e+07,5.000087e+07,5.000081e+07,5.000064e+07,5.000063e+07
198909,"(443, 445)","(92.40416666666665, 20.737500000000004)",NaN,5.000063e+07,5.000062e+07,5.000059e+07,5.000062e+07,5.000065e+07,5.000062e+07,5.000075e+07,...,5.000077e+07,5.000075e+07,5.000073e+07,5.000102e+07,5.000083e+07,5.000083e+07,5.000087e+07,5.000081e+07,5.000064e+07,5.000063e+07
198910,"(443, 446)","(92.4125, 20.737500000000004)",NaN,5.000062e+07,5.000061e+07,5.000058e+07,5.000062e+07,5.000064e+07,5.000061e+07,5.000074e+07,...,5.000076e+07,5.000074e+07,5.000072e+07,5.000101e+07,5.000082e+07,5.000082e+07,5.000086e+07,5.000080e+07,5.000063e+07,5.000062e+07
198911,"(443, 447)","(92.42083333333332, 20.737500000000004)",NaN,7.071130e+07,7.071129e+07,7.071126e+07,7.071129e+07,7.071132e+07,7.071129e+07,7.071141e+07,...,7.071143e+07,7.071142e+07,7.071140e+07,7.071169e+07,7.071150e+07,7.071150e+07,7.071154e+07,7.071148e+07,7.071131e+07,7.071130e+07

In [47]:
# remove values where pop is 0 or nan
res_df = res_df.loc[res_df['pop']!=0].copy()
res_df = res_df.loc[~(res_df['pop'].isna())].copy()

In [48]:
# only extract the point (pixels) that are the centroids
od_cities = np.array(res_df[admin4_centroids_w_PopSUM.index])

In [49]:
od_cities

array([[7.07110043e+07, 7.07109488e+07, 7.07109683e+07, ...,
        7.07109956e+07, 7.07111209e+07, 7.07111074e+07],
       [5.00003216e+07, 5.00002661e+07, 5.00002856e+07, ...,
        5.00003129e+07, 5.00004382e+07, 5.00004247e+07],
       [5.00003204e+07, 5.00002649e+07, 5.00002844e+07, ...,
        5.00003118e+07, 5.00004371e+07, 5.00004235e+07],
       ...,
       [6.11219444e+02, 5.97615849e+02, 5.72699108e+02, ...,
        7.90437267e+02, 6.20994389e+02, 6.06893333e+02],
       [6.12357193e+02, 5.98753598e+02, 5.73836858e+02, ...,
        7.91575017e+02, 6.22132138e+02, 6.08031082e+02],
       [5.00006127e+07, 5.00005991e+07, 5.00005742e+07, ...,
        5.00007919e+07, 5.00006225e+07, 5.00006084e+07]])

In [50]:
od_cities.shape

(111196, 191)

## 6. Calculate Market Access
Calculates Market Access for each pixel

In [51]:
import GOSTnets.calculate_od_raw as calcOD

In [52]:
# for testing purposes try running without any popsum weight....
#access_cities = calcOD.calculate_gravity(od_cities)

In [53]:
access_cities = calcOD.calculate_gravity(od_cities, dWeight = admin4_centroids_w_PopSUM['popsum'])

In [54]:
access_cities.index = res_df.index

In [55]:
access_cities_results = res_df.join(access_cities).rename(columns = {
        'd_0.01': 'd_1',
        'd_0.005': 'd_2',
        'd_0.001' : 'd_3',
        'd_0.0007701635' : 'd_4',   # Market access halves every 15 mins
        'd_0.0003850818' : 'd_5',   # Market access halves every 30 mins
        'd_0.0001925409' : 'd_6',   # Market access halves every 60 mins
        'd_9.62704e-05' : 'd_7',   # Market access halves every 120 mins
        'd_3.85082e-05' : 'd_8',   # Market access halves every 300 mins
        'd_1e-05' : 'd_9'
    })

In [56]:
geoms = [Point(xy) for xy in access_cities_results.xy]

In [57]:
access_cities_results = gpd.GeoDataFrame(access_cities_results, geometry=geoms, crs=admin4_centroids_w_PopSUM.crs)

In [58]:
access_cities_results[:3]

,spatial_index,xy,pop,8886,8887,8888,8889,8890,8891,8896,...,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,geometry
0,"(0, 0)","(88.69583333333333, 24.42916666666667)",907.638000,7.071100e+07,7.071095e+07,7.071097e+07,7.071095e+07,7.071094e+07,7.071098e+07,7.071104e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.204512e-300,POINT (88.69583 24.42917)
1,"(0, 1)","(88.70416666666667, 24.42916666666667)",930.021179,5.000032e+07,5.000027e+07,5.000029e+07,5.000027e+07,5.000026e+07,5.000030e+07,5.000035e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.234441e-210,POINT (88.70417 24.42917)
2,"(0, 2)","(88.71249999999999, 24.42916666666667)",1120.448486,5.000032e+07,5.000026e+07,5.000028e+07,5.000027e+07,5.000025e+07,5.000030e+07,5.000035e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.234525e-210,POINT (88.71250 24.42917)

## 7. Save results in raster format

In [59]:
def rasterize_gdf(inD, field, template, outFile=None, nodata=np.nan):
    ''' Convert geopandas GeoDataFrame to raster of equal size/res to template raster
    
    INPUT
    inD [ geopandas data frame / path ]
    outFile [ string ] - path to save output raster
    field [ string ] - field to rasterize
    template [ string ] - path to template raster
    nodata [ int ] - value for no data
    
    RETURNS
    Raster file. If no outFile is specified, the function returns burned features as numpy array
    '''
    raster_template = rasterio.open(template)
    # get info from template file
    xRes = raster_template.res[1]
    yRes = raster_template.res[0]
    trans = raster_template.transform
    x_pixels = raster_template.shape[1]
    y_pixels = raster_template.shape[0]
    raster_template.close()
    
    shapes = ((row.geometry,row[field]) for idx, row in inD.iterrows())
    burned = features.rasterize(shapes=shapes, fill=nodata, out_shape=raster_template.shape, transform=trans)
    burned = burned.astype(str(inD[field].dtype))
    
    if outFile:
        with rasterio.open(
            outFile, 'w', driver = 'GTiff',
            height = y_pixels, width = x_pixels,
            count=1, dtype=str(inD[field].dtype),
            crs=raster_template.crs,
            transform=trans, nodata=nodata
        ) as new_dataset:
            new_dataset.write_band(1, burned)
    else:
        return burned

In [60]:
for d in range(3,10):
    print(f'writing {d}')
    rasterize_gdf(access_cities_results, f'd_{d}', template=friction_file, outFile=os.path.join(out_folder, f"access_cities_d{d}.tif"))

writing 3
writing 4
writing 5
writing 6
writing 7
writing 8
writing 9

In [61]:
for d in range(3,10):
    print(f'writing {d}')
    # clip rasters
    rasterized_gdf_file = os.path.join(out_folder, f"access_cities_d{d}.tif")
    clipped_rasterized_gdf_file = os.path.join(out_folder, f"clipped_access_cities_d{d}2.tif")
    if not os.path.exists(clipped_rasterized_gdf_file):
        rMisc.clipRaster(rasterio.open(rasterized_gdf_file), gpd.read_file(admin), clipped_rasterized_gdf_file)

writing 3
writing 4
writing 5
writing 6
writing 7
writing 8
writing 9

### Convert travel time to minutes and get minimum travel cost to nearest city

In [62]:
admin4_centroids_w_PopSUM[:3]

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,NAME_4,VARNAME_4,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,popsum
ID_4,,,,,,,,,,,,,,,,,,,,
8886,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Nawabganj Dh,Dhaka,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,POINT (90.14986 23.65921),539776.5
8887,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Savar,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,1.033487,0.030875,POINT (90.29510 23.89213),2428921.0
8888,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,Tejgaon,None,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.768723,0.026482,POINT (90.40635 23.78716),15358978.0

In [63]:
access_cities_results[:3]

,spatial_index,xy,pop,8886,8887,8888,8889,8890,8891,8896,...,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,geometry
0,"(0, 0)","(88.69583333333333, 24.42916666666667)",907.638000,7.071100e+07,7.071095e+07,7.071097e+07,7.071095e+07,7.071094e+07,7.071098e+07,7.071104e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.204512e-300,POINT (88.69583 24.42917)
1,"(0, 1)","(88.70416666666667, 24.42916666666667)",930.021179,5.000032e+07,5.000027e+07,5.000029e+07,5.000027e+07,5.000026e+07,5.000030e+07,5.000035e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.234441e-210,POINT (88.70417 24.42917)
2,"(0, 2)","(88.71249999999999, 24.42916666666667)",1120.448486,5.000032e+07,5.000026e+07,5.000028e+07,5.000027e+07,5.000025e+07,5.000030e+07,5.000035e+07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.234525e-210,POINT (88.71250 24.42917)

In [64]:
access_cities_results_fields = list(access_cities_results)
access_cities_results_fields

['spatial_index',
 'xy',
 'pop',
 8886,
 8887,
 8888,
 8889,
 8890,
 8891,
 8896,
 8897,
 8898,
 8900,
 8926,
 8927,
 8928,
 8929,
 8930,
 8931,
 8932,
 8757,
 8758,
 8759,
 8760,
 8761,
 8762,
 8763,
 8764,
 8765,
 8766,
 8767,
 8768,
 8769,
 8770,
 8771,
 8772,
 8773,
 8774,
 8775,
 8776,
 8777,
 8785,
 8787,
 8788,
 8789,
 8793,
 8794,
 8796,
 8797,
 8798,
 8802,
 8803,
 8804,
 8805,
 8806,
 8807,
 8808,
 8809,
 8810,
 8811,
 8812,
 8813,
 8814,
 8815,
 8816,
 8817,
 8818,
 8819,
 8820,
 8821,
 8822,
 8823,
 8824,
 8825,
 8826,
 8827,
 8828,
 8829,
 8830,
 8831,
 8833,
 8835,
 8836,
 8837,
 8838,
 8839,
 8840,
 8841,
 8842,
 8843,
 8844,
 8845,
 8846,
 8847,
 8848,
 8849,
 8852,
 8854,
 8858,
 8859,
 8860,
 8861,
 8862,
 8864,
 8867,
 8868,
 8869,
 8872,
 8877,
 8878,
 8881,
 8883,
 8884,
 8885,
 8901,
 8902,
 8903,
 8904,
 8905,
 8906,
 8907,
 8908,
 8909,
 8910,
 8911,
 8914,
 8915,
 8916,
 8918,
 8919,
 8920,
 8921,
 8922,
 8923,
 8924,
 8925,
 8933,
 8934,
 8935,
 8936,
 8938,
 8939,
 8940,
 8941,
 8942,
 8943,
 8956,
 8957,
 8958,
 8998,
 8999,
 9002,
 9003,
 9004,
 9005,
 9006,
 9007,
 9008,
 9009,
 9012,
 9013,
 9014,
 9016,
 9017,
 9018,
 9019,
 9020,
 9021,
 9022,
 9023,
 9024,
 9025,
 9026,
 9027,
 9028,
 9029,
 9030,
 9031,
 9032,
 9033,
 9034,
 9035,
 9036,
 9037,
 9038,
 9039,
 9040,
 9041,
 9042,
 9044,
 9047,
 9048,
 9190,
 9191,
 'd_1',
 'd_2',
 'd_3',
 'd_4',
 'd_5',
 'd_6',
 'd_7',
 'd_8',
 'd_9',
 'geometry']

In [65]:
# ignore keep at min
# if column name in row of access_cities_results exists as a row index in admin4_centroids_w_PopSUM then convert to hours
#access_cities_results_hr = access_cities_results.apply(lambda x: x/60 if x.name in admin4_centroids_w_PopSUM.index else x)

In [66]:
# For each row find the min travel time 
access_cities_results.loc[:, "tt_min"] = access_cities_results[admin4_centroids_w_PopSUM.index].min(axis=1)

In [67]:
access_cities_results

,spatial_index,xy,pop,8886,8887,8888,8889,8890,8891,8896,...,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,geometry,tt_min
0,"(0, 0)","(88.69583333333333, 24.42916666666667)",907.638000,7.071100e+07,7.071095e+07,7.071097e+07,7.071095e+07,7.071094e+07,7.071098e+07,7.071104e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,8.204512e-300,POINT (88.69583 24.42917),7.071089e+07
1,"(0, 1)","(88.70416666666667, 24.42916666666667)",930.021179,5.000032e+07,5.000027e+07,5.000029e+07,5.000027e+07,5.000026e+07,5.000030e+07,5.000035e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.234441e-210,POINT (88.70417 24.42917),5.000021e+07
2,"(0, 2)","(88.71249999999999, 24.42916666666667)",1120.448486,5.000032e+07,5.000026e+07,5.000028e+07,5.000027e+07,5.000025e+07,5.000030e+07,5.000035e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.234525e-210,POINT (88.71250 24.42917),5.000021e+07
3,"(0, 3)","(88.72083333333333, 24.42916666666667)",1113.935303,5.000030e+07,5.000024e+07,5.000026e+07,5.000025e+07,5.000023e+07,5.000028e+07,5.000033e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.236015e-210,POINT (88.72083 24.42917),5.000019e+07
4,"(0, 4)","(88.72916666666666, 24.42916666666667)",1093.856567,5.000030e+07,5.000025e+07,5.000026e+07,5.000025e+07,5.000023e+07,5.000028e+07,5.000033e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.235945e-210,POINT (88.72917 24.42917),5.000019e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198451,"(442, 435)","(92.32083333333333, 20.745833333333337)",355.519226,6.118758e+02,5.982722e+02,5.733555e+02,6.054160e+02,6.290322e+02,5.983819e+02,7.264784e+02,...,9.473649e+06,5.966973e+07,6.733019e+07,8.268701e+07,9.176122e+07,9.669808e+07,9.979749e+07,1.013666e+08,POINT (92.32083 20.74583),4.007962e+01
198452,"(442, 436)","(92.32916666666667, 20.745833333333337)",383.392883,6.373116e+02,6.237080e+02,5.987913e+02,6.308519e+02,6.544680e+02,6.238177e+02,7.519142e+02,...,8.342267e+06,5.817112e+07,6.602404e+07,8.188105e+07,9.131293e+07,9.646159e+07,9.969979e+07,1.013408e+08,POINT (92.32917 20.74583),6.551544e+01
198453,"(442, 437)","(92.33749999999999, 20.745833333333337)",398.624969,6.112194e+02,5.976158e+02,5.726991e+02,6.047597e+02,6.283758e+02,5.977255e+02,7.258220e+02,...,9.504791e+06,5.970891e+07,6.736423e+07,8.270791e+07,9.177282e+07,9.670419e+07,9.980001e+07,1.013673e+08,POINT (92.33750 20.74583),3.942325e+01
198454,"(442, 438)","(92.34583333333333, 20.745833333333337)",446.424927,6.123572e+02,5.987536e+02,5.738369e+02,6.058974e+02,6.295136e+02,5.988633e+02,7.269598e+02,...,9.450874e+06,5.964101e+07,6.730523e+07,8.267168e+07,9.175272e+07,9.669360e+07,9.979564e+07,1.013661e+08,POINT (92.34583 20.74583),4.056100e+01
198901,"(443, 437)","(92.33749999999999, 20.737500000000004)",281.756958,5.000061e+07,5.000060e+07,5.000057e+07,5.000061e+07,5.000063e+07,5.000060e+07,5.000073e+07,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.221882e-210,POINT (92.33750 20.73750),5.000004e+07

In [68]:
rasterize_gdf(access_cities_results, 'tt_min', template=friction_file, outFile=os.path.join(out_folder, f"BGD_cities_min_tt.tif"))

In [69]:
#rasterized_gdf = rasterize_gdf(access_cities_results, 'tt_hrs', template=friction_file)

In [70]:
# clip raster
rasterized_gdf_file = os.path.join(out_folder, "BGD_cities_min_tt.tif")
clipped_file_admins = os.path.join(out_folder, "BGD_corridor1_and_2_cities_min_tt_clipped.tif")
if not os.path.exists(clipped_file_admins):
    rMisc.clipRaster(rasterio.open(rasterized_gdf_file), gpd.read_file(admin), clipped_file_admins)

### Clip results to corridor admin

In [71]:
clipped_file_ports = os.path.join(out_folder, "BGD_corridor2_least_cost_travel_time_ports_clipped.tif")
if not os.path.exists(clipped_file_ports):
    rMisc.clipRaster(rasterio.open(travel_costs_output_raster), gpd.read_file(admin), clipped_file_ports)

## Do Zonal Stats: Population weighted average

In [72]:
# do zonal stats (pop weighted average) as found here: https://github.com/worldbank/GOST_PublicGoods/blob/master/Implementations/FY21/URB_TurkeyUrbanizationReview/URB_TurkeyUrbanizationReview.ipynb

In [73]:
ttR_ports = rasterio.open(travel_costs_output_raster)
ttD_ports = ttR_ports.read()

popR = rasterio.open(out_pop_surface_std)
popD = popR.read()

In [74]:
ttD_ports.shape

(1, 444, 448)

In [75]:
popD.shape

(1, 444, 448)

In [76]:
ttD_ports

array([[[7.07108785e+07, 5.00001961e+07, 5.00001950e+07, ...,
         5.00002833e+07, 5.00002792e+07, 7.07109595e+07],
        [5.00001961e+07, 1.85550932e+02, 1.84463622e+02, ...,
         2.77796918e+02, 2.73727038e+02, 5.00002792e+07],
        [5.00001751e+07, 1.73738432e+02, 1.72651122e+02, ...,
         2.64026941e+02, 2.60170924e+02, 5.00002683e+07],
        ...,
        [5.00006055e+07, 6.04154252e+02, 6.01529252e+02, ...,
         5.55598251e+01, 5.56447493e+01, 5.00000562e+07],
        [5.00006068e+07, 6.05439553e+02, 6.02843548e+02, ...,
         6.18160750e+01, 5.70447494e+01, 5.00000579e+07],
        [7.07112855e+07, 5.00006068e+07, 5.00006042e+07, ...,
         5.00000672e+07, 5.00000579e+07, 7.07107364e+07]]])

In [77]:
popD

array([[[   907.638 ,    930.0212,   1120.4485, ..., -99999.    ,
         -99999.    , -99999.    ],
        [  1382.4071,   1033.267 ,   1150.532 , ..., -99999.    ,
         -99999.    , -99999.    ],
        [  1275.4652,   1290.4519,   1465.0599, ..., -99999.    ,
         -99999.    , -99999.    ],
        ...,
        [-99999.    , -99999.    , -99999.    , ..., -99999.    ,
         -99999.    , -99999.    ],
        [-99999.    , -99999.    , -99999.    , ..., -99999.    ,
         -99999.    , -99999.    ],
        [-99999.    , -99999.    , -99999.    , ..., -99999.    ,
         -99999.    , -99999.    ]]], dtype=float32)

In [78]:
# code to replace all negative value with 0
popD[popD<0] = 0

In [79]:
popD

array([[[ 907.638 ,  930.0212, 1120.4485, ...,    0.    ,    0.    ,
            0.    ],
        [1382.4071, 1033.267 , 1150.532 , ...,    0.    ,    0.    ,
            0.    ],
        [1275.4652, 1290.4519, 1465.0599, ...,    0.    ,    0.    ,
            0.    ],
        ...,
        [   0.    ,    0.    ,    0.    , ...,    0.    ,    0.    ,
            0.    ],
        [   0.    ,    0.    ,    0.    , ...,    0.    ,    0.    ,
            0.    ],
        [   0.    ,    0.    ,    0.    , ...,    0.    ,    0.    ,
            0.    ]]], dtype=float32)

In [80]:
ttPop_ports = popD * ttD_ports

In [81]:
ttPop_ports

array([[[6.41798804e+10, 4.65012413e+10, 5.60226428e+10, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [6.91206262e+10, 1.91723649e+05, 2.12231296e+05, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [6.37734838e+10, 2.24201091e+05, 2.52944241e+05, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        ...,
        [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00]]])

In [82]:
out_meta = ttR_ports.meta.copy()
with rasterio.open(os.path.join(out_folder, "ttPop_ports_raster.tif"), "w", **out_meta) as dest:
    dest.write(ttPop_ports.astype(out_meta['dtype']))

In [83]:
# save pop raster too for later
out_meta = ttR_ports.meta.copy()
with rasterio.open(os.path.join(out_folder, "Pop_raster.tif"), "w", **out_meta) as dest:
    dest.write(popD.astype(out_meta['dtype']))

In [84]:
#rasterStats, ignore negative values
from rasterstats import zonal_stats

In [85]:
ttPop_ports_raster = r"outputs\ttPop_ports_raster.tif"

In [86]:
Pop_raster = r"outputs\Pop_raster.tif"

In [87]:
#stats = zonal_stats(admin1, ttPop_raster, geojson_out=True)

### consider using an admin or an urban exent file here for better summaries

In [88]:
#BGD_adm1_df = gpd.GeoDataFrame.from_file(r"inputs\BGD_corridor1_dissolved.shp")
adm_df = gpd.GeoDataFrame.from_file(admin)

In [89]:
ttPop_ports_sum_stats = zonal_stats(admin, ttPop_ports_raster, stats='sum')

In [90]:
#pd.DataFrame(ttPop_HF_sum_stats)

In [91]:
ttPop_ports_sum_stats_joined = adm_df.join(pd.DataFrame(ttPop_ports_sum_stats))

In [92]:
#ttPop_HF_sum_stats_joined

In [93]:
# Now need to do rasterstats for just pop, then divide the sum of each of the ttPop zones with the sum pop for each zone

In [94]:
statsPop = zonal_stats(admin, Pop_raster, stats=['sum'])

In [95]:
statsPop_df = pd.DataFrame(statsPop)

In [96]:
statsPop_df.rename(columns={'sum':'popsum'}, inplace=True)

In [97]:
statsPop_df

         popsum
0  1.030545e+08

In [98]:
ttPop_ports_sum_stats_joined2 = ttPop_ports_sum_stats_joined.join(pd.DataFrame(statsPop_df))

In [99]:
ttPop_ports_sum_stats_joined2

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,ID_4,...,TYPE_4,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,sum,popsum
0,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8886,...,Upazila|Thana|Po,Sub-district,Unknown,Unknown,None,0.881763,0.025416,"MULTIPOLYGON (((92.22418 21.12555, 92.22400 21...",1.441588e+09,1.030545e+08

In [100]:
ttPop_ports_sum_stats_joined2['avg_tt'] = ttPop_ports_sum_stats_joined2['sum'] / ttPop_ports_sum_stats_joined2['popsum']

In [101]:
ttPop_ports_sum_stats_joined2

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,ID_3,NAME_3,ID_4,...,ENGTYPE_4,VALIDFR_4,VALIDTO_4,REMARKS_4,Shape_Leng,Shape_Area,geometry,sum,popsum,avg_tt
0,23,BGD,Bangladesh,327,Dhaka,3103,Dhaka,3641,Dhaka,8886,...,Sub-district,Unknown,Unknown,None,0.881763,0.025416,"MULTIPOLYGON (((92.22418 21.12555, 92.22400 21...",1.441588e+09,1.030545e+08,13.988602

In [102]:
ttPop_ports_sum_stats_joined2.to_file(final_sum_stats_output)

NameError: name 'final_sum_stats_output' is not defined

In [ ]:
# Calculate Market Access
#https://github.com/worldbank/GOST_PublicGoods/blob/master/Implementations/FY21/ACC_Raster_MarketAccess_Template/ACC_Benin_RasterMarketAccess.ipynb