In [10]:
import sys, os
import rasterio

import pandas as pd
import geopandas as gpd

from shapely.geometry import Point

In [2]:
gps_folder = "/home/wb411133/data/Projects/GSMA_mapping"
lac_file = os.path.join(gps_folder, "gps_lac.csv")
asia_file = os.path.join(gps_folder, "gps_asia.csv")

In [19]:
def read_hh_files(x):
    inD = pd.read_csv(x)
    inD = inD.loc[:,['hh_ID','latitud','longitud','country']]
    inD = inD.loc[inD['latitud'] != 99]        
    inD = inD.loc[inD['latitud'] != 999]
    inD = inD.loc[inD['longitud'] != 99]
    inD = inD.loc[inD['longitud'] != 999]
    in_geoms = [Point(x) for x in zip(inD['longitud'], inD['latitud'])]
    inD = gpd.GeoDataFrame(inD, geometry=in_geoms, crs=4326)
    return(inD)

in_lac = read_hh_files(lac_file)
in_asia = read_hh_files(asia_file)

In [20]:
in_lac.head()

    hh_ID   latitud  longitud country                     geometry
0       1 -34.72322 -58.57189     ARG  POINT (-58.57189 -34.72322)
1       2 -34.72317 -58.57187     ARG  POINT (-58.57187 -34.72317)
4       5 -34.72302 -58.57054     ARG  POINT (-58.57054 -34.72302)
9      10 -34.75600 -58.58844     ARG  POINT (-58.58844 -34.75600)
11     12 -34.75522 -58.58806     ARG  POINT (-58.58806 -34.75522)

In [21]:
in_asia.head()

    hh_ID   latitud   longitud    country                  geometry
0  6197.0  6.894086  80.024168  Sri Lanka  POINT (80.02417 6.89409)
1  6199.0  6.894086  80.024168  Sri Lanka  POINT (80.02417 6.89409)
2  6201.0  5.992913  80.439780  Sri Lanka  POINT (80.43978 5.99291)
3  6203.0  6.555662  80.016932  Sri Lanka  POINT (80.01693 6.55566)
4  6208.0  6.716831  79.917696  Sri Lanka  POINT (79.91770 6.71683)

# Extract GSM by location

In [ ]:
gsm_folder =