# Importing Ferries into GOSTnets

In [1]:
import os, sys, importlib

import pandas as pd
import geopandas as gpd
import networkx as nx

from shapely.wkt import loads
from shapely.geometry import Point
from random import sample 

## Your GOSTnets path could be different
#sys.path.append(r"C:\Work\Code\GOSTnets")
sys.path.append("../../../GOSTNets")
import GOSTnets as gn

In [2]:
from GOSTnets.load_osm import *

In [3]:
%load_ext autoreload

%autoreload 2

## I downloaded an osm pbf from https://protomaps.com/extracts/ of just the area I need!

In [14]:
data_w_ferries = OSM_to_network('./input_data/bangladesh_osm_clip1.osm.pbf', includeFerries = True)

In [15]:
#data_w_ferries.roads_raw

In [16]:
data_w_ferries.roads_raw.loc[data_w_ferries.roads_raw['infra_type'] == 'ferry']

         osm_id infra_type                                           geometry
14     85651714      ferry  LINESTRING (91.97321 21.47871, 91.97378 21.477...
17     85651729      ferry  LINESTRING (91.98058 21.52456, 91.98058 21.524...
2575  682570490      ferry  LINESTRING (91.90819 21.50008, 91.91067 21.497...

In [17]:
data_w_ferries.roads_raw.loc[data_w_ferries.roads_raw['infra_type'] == 'pier']

         osm_id infra_type                                           geometry
10     43106847       pier  LINESTRING (91.98058 21.52456, 91.97393 21.52665)
13     43107027       pier  LINESTRING (91.97955 21.51684, 91.97864 21.517...
234   424594370       pier  LINESTRING (91.89818 21.52057, 91.89777 21.51858)
324   525378894       pier  LINESTRING (91.96928 21.45075, 91.96941 21.450...
325   525378895       pier  LINESTRING (91.96937 21.45017, 91.96961 21.450...
326   525378896       pier  LINESTRING (91.96988 21.45022, 91.96997 21.45039)
327   525378897       pier  LINESTRING (91.96986 21.44964, 91.97012 21.450...
328   525378898       pier  LINESTRING (91.97038 21.44999, 91.97059 21.45042)
329   525378899       pier  LINESTRING (91.97055 21.45044, 91.97059 21.450...
1266  530541712       pier  LINESTRING (91.96511 21.47622, 91.96553 21.475...
1514  531104467       pier  LINESTRING (91.96049 21.47357, 91.96236 21.470...
1515  531104468       pier  LINESTRING (91.95922 21.46665, 91.95906 21.467...
1516  531104469       pier  LINESTRING (91.95721 21.47239, 91.95829 21.469...
1517  531104470       pier  LINESTRING (91.95673 21.47228, 91.95804 21.468...
2441  655532070       pier  LINESTRING (91.95866 21.46919, 91.95872 21.468...