To be used for comparison purposes at a later time, so we can compare the difference between the flooded network
# Step 3: Cap Haitien GTFS Accessibility Analysis

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import osmnx as ox
import pandas as pd
import geopandas as gpd
import networkx as nx
import numpy as np
from shapely.geometry import Point

In [3]:
import os, sys

In [4]:
# Get reference to GOSTNets
import sys
sys.path.append(r'C:\repos\GOSTnets')
import GOSTnets as gn

In [5]:
# read back your graph from step 1 from you saved pickle
G = nx.read_gpickle(r"C:\Users\war-machine\Documents\world_bank_work\haiti_gtfs_project\output_gtfs_graph_24hr_frame\cap_haitien_walk_w_ferries_via_osmnx.pickle")

In [6]:
print(nx.info(G))

Name:
Type: MultiDiGraph
Number of nodes: 12931
Number of edges: 34334
Average in degree:   2.6552
Average out degree:   2.6552

In [7]:
list(G.edges)[0:15]

[(247844908, 3806054858, 0),
 (330521785, 2353905402, 0),
 (330521785, 330540551, 0),
 (330521785, 330567999, 0),
 (330522696, 330569698, 0),
 (330522696, 3875208374, 0),
 (330522696, 3875208369, 0),
 (330523218, 3600503070, 0),
 (330523218, 2472620389, 0),
 (330523218, 2472620422, 0),
 (330523479, 330548415, 0),
 (330523479, 620028871, 0),
 (330523479, 2510265415, 0),
 (330523638, 2314667832, 0),
 (330523638, 2306542320, 0)]

## Identify only the largest graph

In [8]:
# compatible with NetworkX 2.4
list_of_subgraphs = list(G.subgraph(c).copy() for c in nx.weakly_connected_components(G))
max_graph = None
max_edges = 0
for i in list_of_subgraphs:
    if i.number_of_edges() > max_edges:
        max_edges = i.number_of_edges()
        max_graph = i

# set your graph equal to the largest sub-graph
G_largest = max_graph

In [9]:
# print info about the largest sub-graph
print(nx.info(G_largest))

Name:
Type: MultiDiGraph
Number of nodes: 12931
Number of edges: 34334
Average in degree:   2.6552
Average out degree:   2.6552

In [10]:
# inspect
# gn.save(G_largest,"gtfs_export_cap_haitian_merged_impute_walk_largest",r"C:\Users\war-machine\Documents\world_bank_work\haiti_gtfs_project\output_gtfs_graph_24hr_frame")

In [11]:
# insert origins
origins = gpd.read_file(r"C:\repos\GOST_PublicGoods\Implementations\gtfs_example\input_folder\cap_haitien_worldpop_pts2.shp")

In [12]:
# snap the origins to the road graph
snapped_origins = gn.pandana_snap(G, origins, source_crs = 'epsg:4326', target_crs = 'epsg:32619')

In [13]:
snapped_origins

           VALUE                    geometry         NN      NN_dist
0       3.630365  POINT (-72.38833 19.81667)  616755742   375.410681
1       3.881798  POINT (-72.38667 19.81667)  616755742   351.747309
2       4.394933  POINT (-72.38250 19.81667)  616755742   590.012777
3       4.479361  POINT (-72.38167 19.81667)  616755742   662.445228
4       3.633273  POINT (-72.38833 19.81583)  616755742   291.331109
...          ...                         ...        ...          ...
182971  1.172181  POINT (-72.18667 19.49583)  616038064  6766.523465
182972  1.175843  POINT (-72.18583 19.49583)  616038064  6733.274830
182973  1.067793  POINT (-72.18500 19.49583)  616038064  6701.005202
182974  1.201748  POINT (-72.18417 19.49583)  616038064  6669.728790
182975  1.251299  POINT (-72.18333 19.49583)  616038064  6639.459628

[182976 rows x 4 columns]

In [14]:
# filter out origins with a distance more than 2km
snapped_origins_filtered = snapped_origins[snapped_origins.NN_dist < 2000]

In [15]:
snapped_origins_filtered

           VALUE                    geometry          NN     NN_dist
0       3.630365  POINT (-72.38833 19.81667)   616755742  375.410681
1       3.881798  POINT (-72.38667 19.81667)   616755742  351.747309
2       4.394933  POINT (-72.38250 19.81667)   616755742  590.012777
3       4.479361  POINT (-72.38167 19.81667)   616755742  662.445228
4       3.633273  POINT (-72.38833 19.81583)   616755742  291.331109
...          ...                         ...         ...         ...
181500  8.905331  POINT (-71.74000 19.52250)  2496045487  635.151029
181501  9.385510  POINT (-71.73917 19.52250)  2496045487  583.872113
181593  8.597751  POINT (-71.74250 19.52167)  2496045514  743.485636
181594  9.031757  POINT (-71.74167 19.52167)  2496045514  753.712825
181595  9.211284  POINT (-71.74083 19.52167)  2496045487  762.048640

[162512 rows x 4 columns]

In [16]:
originNodes = list(snapped_origins_filtered['NN'].unique())

In [17]:
originNodes

[616755742,
 330739389,
 616556652,
 616556665,
 616553566,
 616556661,
 616553549,
 616556670,
 616553537,
 616556642,
 616556668,
 616722848,
 616722841,
 616722834,
 616722832,
 616722835,
 330748594,
 2322398723,
 2378164779,
 330728487,
 2378159627,
 7101639468,
 2378164775,
 2378159625,
 2378168605,
 2378168608,
 2378158461,
 763384845,
 2774734763,
 3158035816,
 2378159620,
 2225575669,
 330745690,
 2275968008,
 2225604782,
 620843684,
 330736645,
 330743585,
 2225575422,
 330747430,
 2225604715,
 620855485,
 620855507,
 330739265,
 620855481,
 620855480,
 7101671123,
 616085737,
 2239959280,
 6647538635,
 2322396300,
 7101671182,
 2239959285,
 2239959278,
 2239959275,
 620855475,
 2239959268,
 330751393,
 2285106105,
 2413706138,
 620855473,
 620855476,
 2413706133,
 620855897,
 620855464,
 620855460,
 2322391135,
 330743292,
 2385795482,
 2275907685,
 620843229,
 7101671051,
 2240032201,
 2413706127,
 6733460167,
 620843224,
 620843234,
 617270697,
 3448749786,
 620855452,
 6507284097,
 620843219,
 620843222,
 2275907688,
 2322390979,
 2322387118,
 330741575,
 330731939,
 2322398608,
 330730951,
 620843196,
 2275907678,
 2322387097,
 2240032154,
 2358222502,
 620858285,
 620822292,
 2275907663,
 2210319642,
 3125516859,
 620843188,
 2322387029,
 330728869,
 2359306481,
 2359306483,
 2240032080,
 620858327,
 620850093,
 620850090,
 620822340,
 6507284101,
 614653346,
 614651270,
 2322387086,
 2462182752,
 2358222480,
 2359174719,
 3448749757,
 620850063,
 620850983,
 6139396954,
 2275907617,
 614653356,
 330741321,
 2217103864,
 2322387048,
 2322387062,
 2462182751,
 3448749731,
 2357851855,
 6139396935,
 6139396940,
 614653288,
 6139396983,
 614653338,
 2003307189,
 2322387008,
 2322390504,
 330732226,
 615026090,
 620822314,
 2210287462,
 6139396953,
 6139396996,
 614653335,
 646749098,
 330751269,
 2339534247,
 2322390480,
 646749090,
 620842033,
 2275907586,
 632658946,
 330749699,
 7101690204,
 7101624518,
 646749055,
 615026089,
 2275907574,
 632642303,
 330730337,
 330727395,
 620858309,
 620858315,
 615026067,
 633019965,
 615018386,
 615018371,
 646749075,
 646749095,
 632658932,
 1067157364,
 2339534235,
 8091508988,
 620858316,
 330740096,
 646749051,
 615026114,
 615018361,
 617333207,
 617333206,
 646749094,
 615011806,
 2217103871,
 5226459986,
 620858302,
 620858281,
 647086697,
 330733047,
 615030404,
 614908752,
 614908972,
 615026109,
 614908828,
 615018327,
 615011798,
 616951640,
 615011809,
 7101671262,
 620891612,
 7340142825,
 647086669,
 647086690,
 614923379,
 614883031,
 614908769,
 330727433,
 614883034,
 615026110,
 615018352,
 615011797,
 1943288776,
 1943288770,
 7340142826,
 5226470125,
 647086687,
 647091283,
 614883050,
 330736339,
 614883028,
 614883027,
 614908894,
 614882979,
 614908834,
 614909073,
 633024687,
 1636671523,
 632753472,
 330748486,
 614883096,
 647091280,
 2003307164,
 615039672,
 614908759,
 330734599,
 614908965,
 2285106049,
 614883021,
 614909053,
 614909230,
 614909199,
 632753456,
 330749918,
 7340142630,
 2322002184,
 614883098,
 2339338516,
 616806363,
 614883097,
 614908985,
 614923497,
 615046642,
 330738025,
 614882988,
 614882960,
 614883019,
 615034116,
 2213011105,
 330733174,
 6139397100,
 7340143610,
 647086674,
 616806365,
 614883099,
 614908945,
 614923503,
 614909120,
 614909008,
 614882966,
 615046650,
 330734709,
 6139397106,
 614883063,
 616806361,
 614883091,
 614883122,
 614883112,
 615044565,
 614883104,
 614909098,
 614909141,
 647086715,
 330738491,
 615034028,
 615034113,
 623954914,
 633191426,
 2322000647,
 614883072,
 614883036,
 614472788,
 614908978,
 614883067,
 615044564,
 614909035,
 614882971,
 614883106,
 646749061,
 330742985,
 615034075,
 615034105,
 616905231,
 619511914,
 619846360,
 619846361,
 633042254,
 614883040,
 614883041,
 614883043,
 614882925,
 614908811,
 614472795,
 614882996,
 614883069,
 614883128,
 614882896,
 614882901,
 2315019104,
 614883005,
 614909022,
 615050964,
 615050966,
 647086712,
 615035507,
 615035492,
 330726359,
 614923418,
 619846346,
 620039781,
 619846374,
 614908731,
 614882869,
 614882872,
 614882917,
 614909020,
 614883010,
 614883085,
 647086709,
 2285912306,
 619846354,
 619846369,
 616796838,
 646749050,
 3454783618,
 330737968,
 614882879,
 614882884,
 623966767,
 619511888,
 620039768,
 614923436,
 619846343,
 614923476,
 619846365,
 614923472,
 614908797,
 614908800,
 2150615578,
 614908672,
 614908682,
 614934338,
 614908725,
 614934359,
 616793093,
 614908807,
 330736361,
 330731956,
 622577356,
 614923458,
 616773766,
 619846334,
 614934339,
 647091264,
 614908699,
 614908695,
 620867640,
 619505401,
 614923460,
 619846331,
 614909324,
 614934340,
 614908711,
 646763541,
 646749040,
 7365286114,
 614934310,
 619511871,
 619505571,
 620039618,
 614909325,
 646749033,
 330735152,
 646749041,
 2203880781,
 2258988415,
 619505438,
 619505562,
 619505573,
 619511900,
 619846330,
 330730341,
 614909328,
 614617013,
 2302831670,
 2302887925,
 330734847,
 8091508918,
 614934314,
 619505433,
 619505500,
 620039595,
 616773746,
 7340129116,
 2273047475,
 614617118,
 646763537,
 620039729,
 2302887869,
 623954931,
 7365286123,
 619505419,
 619505430,
 619505490,
 619505487,
 619505552,
 619505548,
 619505556,
 616773739,
 6345805120,
 2272075158,
 2272060869,
 614616006,
 623954932,
 620867291,
 614933930,
 616773715,
 616773643,
 2409372479,
 614616950,
 2287071420,
 2287071256,
 2287071450,
 2302887815,
 7365286106,
 7365286121,
 616905087,
 616905315,
 614934273,
 614933940,
 614933922,
 616773637,
 619505492,
 616773705,
 619505477,
 619505481,
 331017540,
 2138254901,
 2302722343,
 2272069107,
 2272069105,
 622021181,
 616903394,
 630430864,
 330748828,
 7365286120,
 619505385,
 619505390,
 616773652,
 619505461,
 614933907,
 616773688,
 616773697,
 331017528,
 7810976819,
 7810976820,
 614616947,
 619869086,
 2302811016,
 2272069097,
 2277199493,
 2277199498,
 5227084957,
 7365286140,
 2284960619,
 619505393,
 614933949,
 619505455,
 2287075504,
 2287075503,
 2308830942,
 614617339,
 617015083,
 2302722226,
 2302722219,
 619869088,
 2277199073,
 619869099,
 616765034,
 2285946971,
 620862998,
 7365286164,
 616905158,
 2330943227,
 614933950,
 614934281,
 2287075389,
 614617381,
 2287037217,
 2302915843,
 617013511,
 619869084,
 616765033,
 616764980,
 616765022,
 619869097,
 2433169650,
 619383163,
 619383164,
 2272022814,
 619505449,
 619322292,
 614934418,
 2268384105,
 614617824,
 2409372478,
 620873792,
 2268622099,
 617013288,
 619869082,
 617013502,
 617013318,
 616765031,
 616764974,
 2301687399,
 616765023,
 628930771,
 330736108,
 620039561,
 7365286184,
 6647583609,
 619322127,
 619305087,
 619322271,
 619322267,
 2272095060,
 619322286,
 619322284,
 614613368,
 614617490,
 614617818,
 614617480,
 617014392,
 617013327,
 617013326,
 619785566,
 2301687396,
 331017387,
 614472002,
 2339529780,
 2339298939,
 620867221,
 619383148,
 619322114,
 2271795410,
 619322251,
 2272022809,
 619322219,
 619322215,
 619322274,
 619343559,
 614617424,
 614613410,
 614617812,
 617013328,
 617014393,
 617013431,
 616765004,
 617016643,
 616765006,
 614472198,
 616765025,
 331017389,
 617023166,
 619383142,
 619383149,
 619383140,
 620039542,
 619322135,
 619322210,
 619322207,
 619322220,
 619343553,
 619322246,
 614617453,
 614617477,
 614613409,
 617016708,
 619869081,
 616765014,
 616764955,
 616765002,
 616764996,
 617016650,
 616765024,
 616765026,
 616764934,
 616764933,
 619785485,
 2272149741,
 619812324,
 619812319,
 619812356,
 619812343,
 2302812554,
 617025146,
 2302845442,
 617025140,
 7710526677,
 628966349,
 623954664,
 1472352563,
 620867251,
 619383100,
 620039540,
 2277625213,
 619305031,
 2215174448,
 619322112,
 619305046,
 619322117,
 619322121,
 2277399817,
 619322185,
 619322181,
 619322192,
 619322209,
 619322235,
 619322236,
 614613400,
 619785404,
 617016576,
 616764964,
 616764966,
 616764995,
 616764991,
 617023718,
 616764928,
 3158035806,
 617024257,
 619812286,
 2272149733,
 619812307,
 619812311,
 619812336,
 619812352,
 2302806944,
 616903161,
 617025138,
 2360828489,
 616903424,
 619383129,
 619383130,
 614614398,
 614614467,
 619322090,
 619322092,
 2215077674,
 2215077666,
 619322111,
 2215092728,
 2419421890,
 619322120,
 614613364,
 619322171,
 619322198,
 619322223,
 619322225,
 619869079,
 616764948,
 616764946,
 619785483,
 2278653028,
 619785480,
 2301517861,
 2301503536,
 616764929,
 616764931,
 616764932,
 3158035804,
 616903109,
 616903096,
 616903111,
 2269638379,
 619812305,
 616903118,
 5918811824,
 619820614,
 616903164,
 616903185,
 7831951100,
 2302754038,
 2342238234,
 8091508953,
 1943351452,
 619383113,
 619383122,
 2204150399,
 619305011,
 2215077656,
 2215077655,
 2215086174,
 619322102,
 2378118253,
 2271936328,
 619322156,
 619322158,
 619322163,
 619322166,
 7677308320,
 7677308329,
 617017177,
 2301529326,
 619785473,
 2301529325,
 619785470,
 2272038861,
 2301642611,
 616764939,
 2268578230,
 619812152,
 619812158,
 619812260,
 331017393,
 616903110,
 619812277,
 616903092,
 3454783616,
 619785562,
 619820613,
 619812329,
 614603738,
 616903167,
 7831951104,
 7831951101,
 2302754024,
 2360828474,
 616903377,
 616903380,
 616903391,
 2352498375,
 623954848,
 619371965,
 620039507,
 614614365,
 619383110,
 2284960600,
 614614466,
 619304995,
 619305002,
 619305009,
 2313648007,
 2313661453,
 2313661452,
 2271892713,
 2271757285,
 619322159,
 7622811138,
 617017176,
 7832352897,
 617017180,
 619785474,
 619785472,
 619785466,
 617022613,
 2301642591,
 617022202,
 2268542083,
 2268542076,
 2272149724,
 616903091,
 619812268,
 619812273,
 619812279,
 614457946,
 619820605,
 616903208,
 614603740,
 7831912965,
 7831912966,
 2302664276,
 7710526676,
 2360805294,
 2360805293,
 616903420,
 619881369,
 5227085395,
 8091508946,
 620870443,
 619371943,
 617649154,
 619383106,
 2204150380,
 2215119879,
 619304990,
 619305003,
 614614236,
 2313656963,
 2313661439,
 2378128484,
 619305016,
 619305080,
 614614250,
 2271757281,
 7622811137,
 7622811144,
 7622811146,
 617018543,
 617018598,
 617022588,
 617022586,
 614471974,
 617022681,
 6955768290,
 614456021,
 620039873,
 331017372,
 619812267,
 619785561,
 619820603,
 614604268,
 616903197,
 619881347,
 616903173,
 619881345,
 7710526683,
 619881363,
 616903416,
 616903383,
 616903386,
 2296448760,
 330746151,
 2433169654,
 620870446,
 620039470,
 617649160,
 619383101,
 2204150378,
 2313695530,
 2313695533,
 619322075,
 2373587458,
 619304973,
 2373628302,
 2373628305,
 619304988,
 619305072,
 619305075,
 7622811132,
 7622811136,
 617018769,
 617018772,
 617018602,
 617018627,
 617018545,
 617022580,
 619785463,
 614456014,
 2268473161,
 620039864,
 614471771,
 2272149706,
 7810920863,
 620039867,
 619812223,
 620039901,
 614604270,
 7710526682,
 7710533985,
 2360805291,
 619881357,
 7710526671,
 619881359,
 4622514821,
 2339275410,
 623954321,
 623954338,
 619371896,
 620870447,
 614614971,
 619371963,
 617649152,
 617649148,
 619304933,
 2313695520,
 619322050,
 619304976,
 2313695502,
 2373587439,
 2373583497,
 2373600748,
 619304987,
 614613682,
 619305074,
 619785384,
 7677308357,
 7677308355,
 7677308353,
 2271720532,
 619869093,
 619785442,
 614471972,
 617018657,
 2169890649,
 614471829,
 620039797,
 614471768,
 620039868,
 619785559,
 619812230,
 619812225,
 619812205,
 614603940,
 619812254,
 619812255,
 619812258,
 619881353,
 2360828310,
 619881354,
 7710526675,
 619881355,
 616903366,
 616903363,
 620039953,
 4622514825,
 628932668,
 623954840,
 2222423038,
 617648994,
 614615119,
 614614973,
 2277683468,
 617649125,
 617649137,
 617649143,
 619304922,
 619304929,
 2284960594,
 619304930,
 619322062,
 619322073,
 619322070,
 619304979,
 619322142,
 619305073,
 619785393,
 619785400,
 7677308349,
 619785436,
 619785458,
 614471851,
 614471830,
 619821759,
 614471764,
 614471881,
 617025081,
 619812207,
 619812206,
 619812204,
 619812244,
 619812232,
 619812236,
 7710526669,
 2264760867,
 616903357,
 616903358,
 616903360,
 2342238228,
 2342238231,
 5227085397,
 617223486,
 620870384,
 619371903,
 619371918,
 619371922,
 619371937,
 619371945,
 617649104,
 617649124,
 619343552,
 617649175,
 619304918,
 617649210,
 617649209,
 619304938,
 619322055,
 619322082,
 619785389,
 7832513503,
 7622811131,
 619785433,
 ...]

In [18]:
# insert origins
destinations = gpd.read_file(r"C:\repos\GOST_PublicGoods\Implementations\gtfs_example\input_folder\cap_haitien_health_pts.shp")

In [19]:
# snap the destinations to the road graph
snapped_destinations = gn.pandana_snap(G, destinations, source_crs = 'epsg:4326', target_crs = 'epsg:32619')

In [20]:
snapped_destinations

,Code2018,Facility n,Department,Vilcom,Commune,Facility t,MGA,Geolocatio,Geolocat_1,geometry,NN,NN_dist
0,476,HÃ´Pital Universitaire Justinien,Nord,11,Cap-Haitien,hopital universitaire,publique,19.762251,-72.206200,POINT (-72.20620 19.76225),614883096,40.575748
1,573,Centre Sante Communautaire De Ferrier (Csc),Nord'Est,12,Ferrier,dispensaire/centre communautaire de sante,publique,19.616028,-71.779961,POINT (-71.77996 19.61603),617490075,37.324084
2,593,Centre De SantÃ© De Sainte Suzanne,Nord'Est,32,Sainte-Suzanne,centre de sante sans lit,publique,19.584867,-72.089272,POINT (-72.08927 19.58487),2295055691,121.894915
3,596,Centre Sante Communautaire De Phaeton,Nord'Est,33,Terrier-Rouge,dispensaire/centre communautaire de sante,publique,19.676502,-71.895271,POINT (-71.89527 19.67650),2314667846,58.595632
4,578,Centre Medico Social De Ouanaminthe,Nord'Est,21,Ouanaminthe,centre de sante avec lit,publique,19.549278,-71.720268,POINT (-71.72027 19.54928),2482947395,35.096853
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2157,Clinique Sante De SiloÃ©,Nord,11,Cap-Haitien,centre de sante sans lit,mixte,19.732412,-72.227005,POINT (-72.22701 19.73241),619371909,59.788657
96,2149,New Hope Hospital,Nord,22,Plaine-du-Nord,hopital communautaire de reference,mixte,19.681231,-72.279991,POINT (-72.27999 19.68123),2293953844,746.018265
97,560,Hopital Saint Jean De LimbÃ©,Nord,61,Limbe,hopital communautaire de reference,mixte,19.707607,-72.401764,POINT (-72.40176 19.70761),618265398,34.823633
98,2133,Ofatma Cap Haitien,Nord,11,Cap-Haitien,hopital communautaire de reference,mixte,19.763382,-72.205795,POINT (-72.20580 19.76338),647091283,45.149034
99,589,Dispensaire De Pilette,Nord'Est,31,Trou-du-Nord,dispensaire/centre communautaire de sante,mixte,19.565285,-72.009254,POINT (-72.00925 19.56528),330591990,1096.697995

In [21]:
destinationsNodes = list(snapped_destinations['NN'].unique())

## Calculate OD Matrix

In [22]:
OD_matrix = gn.calculate_OD(G, originNodes, destinationsNodes, fail_value=-1, weight='length')

In [23]:
OD_matrix

array([[38628.341, 87300.849, 62123.44 , ..., 16741.623, 38651.988,
        69439.106],
       [37719.1  , 86391.608, 61214.199, ..., 15832.382, 37742.747,
        68529.865],
       [38282.693, 86955.201, 61777.792, ..., 16395.975, 38306.34 ,
        69093.458],
       ...,
       [66461.709, 15714.392, 51925.435, ..., 87081.941, 66485.356,
        49317.347],
       [66876.814, 16129.497, 52340.54 , ..., 87497.046, 66900.461,
        49732.452],
       [66508.487, 15761.17 , 51972.213, ..., 87128.719, 66532.134,
        49364.125]])

In [27]:
# metrics
type(OD_matrix)
avg_trip_time = np.mean(OD_matrix)
avg_trip_time

33061.10119967321

In [28]:
print(f"average trip time is: {avg_trip_time/60} minutes")

average trip time is: 551.0183533278869 minutes

## calculate accessibility

In [225]:
# For each row, the closest facility is the smallest value in the row
closest_facility_per_origin = OD_matrix.min(axis=1)

results = pd.DataFrame([originNodes, closest_facility_per_origin]).transpose()

colName = "travel_time_to_closest_facility"
results.columns = ['NN', colName]

In [226]:
closest_facility_per_origin

array([ 727.3928,    0.    ,  450.8744, ..., 2690.384 , 3022.468 ,
       2727.8064])

In [227]:
results

               NN travel_time_to_closest_facility
0     6.16756e+08                         727.393
1     3.30739e+08                               0
2     6.16557e+08                         450.874
3     6.16557e+08                         396.162
4     6.16554e+08                         208.108
...           ...                             ...
8882  2.49605e+09                         2688.89
8883  2.49635e+09                         2745.27
8884  2.49605e+09                         2690.38
8885  2.49635e+09                         3022.47
8886  2.49635e+09                         2727.81

[8887 rows x 2 columns]

In [228]:
output = snapped_origins_filtered.copy()
output = pd.merge(output, results, on="NN")

In [229]:
output

,VALUE,geometry,NN,NN_dist,travel_time_to_closest_facility
0,3.630365,POINT (-72.38833 19.81667),616755742,375.410681,727.393
1,3.881798,POINT (-72.38667 19.81667),616755742,351.747309,727.393
2,4.394933,POINT (-72.38250 19.81667),616755742,590.012777,727.393
3,4.479361,POINT (-72.38167 19.81667),616755742,662.445228,727.393
4,3.633273,POINT (-72.38833 19.81583),616755742,291.331109,727.393
...,...,...,...,...,...
162507,8.280589,POINT (-71.75333 19.52500),2496352697,209.087792,3022.47
162508,7.810264,POINT (-71.75250 19.52417),2496352697,138.256164,3022.47
162509,8.254992,POINT (-71.75250 19.52500),2496352745,149.820614,2727.81
162510,8.222400,POINT (-71.75167 19.52500),2496352745,63.375339,2727.81
162511,8.276983,POINT (-71.75083 19.52500),2496352745,30.100392,2727.81

In [230]:
#convert travel_time_to_closest_facility to number
output["travel_time_to_closest_facility"] = pd.to_numeric(output["travel_time_to_closest_facility"])

In [231]:
# save a shapefile...
destinations_gpd = gpd.GeoDataFrame(output, crs = "epsg:4326", geometry = 'geometry')
#destinations_gpd.to_file(r"C:\repos\GOST_PublicGoods\Implementations\gtfs_example\output_folder\cap_haitien_accessibility_health_walk_only.shp")

## Testing: find a shortest path

In [232]:
nx.dijkstra_path(G, 763384845, 2240032201, weight='length')

[763384845, 2225575422, 616085737, 6970559909, 2240032154, 2240032201]

In [233]:
# Look up route cost via graph
nx.dijkstra_path_length(G, 763384845, 2240032201, weight='length')

969.01952

In [234]:
nx.dijkstra_path(G, 629215322, 2333192306, weight='length')

[629215322,
 'XHQ66_stop_0150',
 'XHQ66_stop_0104',
 'XHQ66_stop_0121',
 2333192291,
 2333192306]

In [235]:
nx.dijkstra_path(G, 2333192306,629215322, weight='length')

[2333192306,
 2333192291,
 'XHQ66_stop_0200',
 'XHQ66_stop_0156',
 'XHQ66_stop_0123',
 'XHQ66_stop_0004',
 'XHQ66_stop_0041',
 629215322]