In [4]:
import sys, os
import geopy, pycountry

import pandas as pd

In [6]:
in_file = 'in_cities.csv'
inD = pd.read_csv(in_file)
inD.head()

                country           city
0  Syrian Arab Republic      KISWEH,SY
1              Ethiopia    NAZARETH,ET
2  Syrian Arab Republic      JANDAR,SY
3  Syrian Arab Republic     TARTOUS,SY
4                 Yemen  HODEIDA WH,YE