# Assessing robustness of Ward-level measurements

As part of the Mumbai analysis, we are measuring the distance from households to ward centroids. This script is aimed at understanding the accuracy and consistency of centroid measurements compared to the whole AOI

In [1]:
import sys, os, inspect, logging, importlib

import geopandas as gpd
import pandas as pd
import numpy as np
import osmnx as ox
import networkx as nx
from shapely.ops import split, unary_union
from shapely.geometry import box, Point

#Get reference to OSMNX_POIs
sys.path.append(r'../..')
from Market_Access import OSMNX_POIs

#Get reference to GOSTNets
sys.path.append(r'../../GOSTNets/GOSTNets')
import GOSTnet as gn

networkx version: 2.3
osmnx version: 0.10

In [14]:
outputFolder = r'C:\Work\Mumbai_OD\GOST_Data'
inputFolder2 = r'C:\Work\Mumbai_OD'
inputFolder = r'./input_folder'

inJobs = os.path.join(inputFolder, "GREATER_MUMBAI.shp")
inHouseholds = os.path.join(inputFolder2, "Home and Work Locations.csv")
inGraph = os.path.join(outputFolder, "OSM_Combo.pickle")

inJ = gpd.read_file(inJobs)
inH = pd.read_csv(inHouseholds)
inH['geometry'] = [Point(x) for x in zip(inH['gps_longitude_home'], inH['gps_latitude_home'])]
inH = gpd.GeoDataFrame(inH, geometry="geometry", crs={'init': 'epsg:4326'})
g = nx.read_gpickle(inGraph)

In [46]:
gn.example_node(g,3)

(0, {'x': 72.8360633305759, 'y': 18.940975234799453, 'geom': <shapely.geometry.point.Point object at 0x0000026A569F8828>})
(1, {'x': 72.83822328429102, 'y': 18.953239981677317, 'geom': <shapely.geometry.point.Point object at 0x0000026A5B5C6828>})
(2, {'x': 72.83947921893387, 'y': 18.960440822411584, 'geom': <shapely.geometry.point.Point object at 0x0000026A5B5C6898>})

In [49]:
type(g)

networkx.classes.multidigraph.MultiDiGraph

In [48]:
type(inH)

geopandas.geodataframe.GeoDataFrame

In [54]:
inH

,household_id,individual_id,female,House No/ Flat No / Building Name,street,ward_home,sample point area,gps_reading_home,gps_latitude_home,gps_longitude_home,...,gps_accuracy_home,gps_satellites_home,city,pin_home,Do you work?-q9_1,Ward in Which Person Works,PIN code in which person works,geometry,x,y
0,65002,65002_1,0,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,"Yes, outside home",16.0,400067,POINT (72.83449399999999 19.206719),72.834494,19.206719
1,65002,65002_2,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,No,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
2,65002,65002_3,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
3,65002,65002_4,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
4,19102,19102_1,0,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,"Yes, outside home",17.0,400098,POINT (72.861138 19.07244),72.861138,19.072440
5,19102,19102_2,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,No,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
6,19102,19102_4,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
7,19102,19102_3,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
8,52404,52404_2,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,No,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
9,52404,52404_3,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
10,52404,52404_1,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,"Yes, outside home",14.0,400063,POINT (72.871748 19.180492),72.871748,19.180492
11,52404,52404_4,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
12,52404,52404_5,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
13,48503,48503_5,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
14,48503,48503_3,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
15,48503,48503_4,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,"Yes, outside home",13.0,400086,POINT (72.917153 19.114861),72.917153,19.114861
16,48503,48503_1,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
17,48503,48503_2,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,No,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
18,10104,10104_1,0,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,"Yes, outside home",21.0,Not applicable/Dont know,POINT (72.875075 19.02054),72.875075,19.020540
19,10104,10104_3,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,NaN,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540
20,10104,10104_2,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,No,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540
21,18204,18204_2,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,No,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262
22,18204,18204_3,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,NaN,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262
23,18204,18204_1,0,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,"Yes, outside home",12.0,400013,POINT (72.83156600000001 18.996262),72.831566,18.996262
24,47003,47003_2,1,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,No,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737
25,47003,47003_3,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,NaN,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737
26,47003,47003_1,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,"Yes, outside home",13.0,400086,POINT (72.93355200000001 19.109737),72.933552,19.109737
27,23501,23501_1,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,"Yes, outside home",3.0,400050,POINT (72.842555 19.054475),72.842555,19.054475
28,23501,23501_3,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475
29,23501,23501_4,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11298,18902,18902_2,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,20.0,5.0,MUMBAI,400055,No,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962
11299,18902,18902_4,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,20.0,5.0,MUMBAI,400055,NaN,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962
11300,34701,34701_1,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,"Yes, outside home",1.0,400069,POINT (72.883439 19.066503),72.883439,19.066503
11301,34701,34701_4,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11302,34701,34701_3,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11303,34701,34701_5,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11304,34701,34701_2,1,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,No,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11305,47602,47602_3,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11306,47602,47602_4,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11307,47602,47602_1,0,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,"Yes, outside home",7.0,400071,POINT (72.90137800000001 19.077087),72.901378,19.077087
11308,47602,47602_2,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,No,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11309,74702,74702_1,0,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,"Yes, outside home",22.0,400080,POINT (72.96552800000001 19.176531),72.965528,19.176531
11310,74702,74702_2,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,No,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531
11311,74702,74702_3,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,NaN,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531
11312,75502,75502_4,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,No,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11313,75502,75502_1,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11314,75502,75502_2,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11315,75502,75502_3,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,"Yes, outside home",22.0,400080,POINT (72.950799 19.165652),72.950799,19.165652
11316,75502,75502_5,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11317,13001,13001_1,0,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692
11318,13001,13001_2,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692
11319,13001,13001_3,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84468100000001 19.039692),72.844681,19.039692
11320,41503,41503_1,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,"Yes, outside home",7.0,400074,POINT (72.92568100000001 19.047618),72.925681,19.047618
11321,41503,41503_3,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11322,41503,41503_2,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,"Yes, from home",NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11323,41503,41503_4,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11324,13402,13402_3,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810
11325,13402,13402_2,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,No,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810
11326,13402,13402_1,0,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,"Yes, outside home",7.0,400074,POINT (72.84496 19.03381),72.844960,19.033810
11327,13402,13402_4,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810

In [62]:
sampleWard = inJ.iloc[0]
# for the sample ward, identify the network node locations and measure travel time to them
snappedHH = gn.pandana_snap(g, inH, add_dist_to_node_col=False)

IndexError: positional indexers are out-of-bounds

In [50]:
node_gdf = gn.node_gdf_from_graph(g)
in_df = inH
from scipy import spatial

In [70]:
node_gdf

,node_ID,osmid,highway,x,geom,y,geometry
0,0,NaN,NaN,72.836063,POINT (72.8360633305759 18.94097523479945),18.940975,POINT (72.8360633305759 18.94097523479945)
1,1,NaN,NaN,72.838223,POINT (72.83822328429102 18.95323998167732),18.953240,POINT (72.83822328429102 18.95323998167732)
2,2,NaN,NaN,72.839479,POINT (72.83947921893387 18.96044082241158),18.960441,POINT (72.83947921893387 18.96044082241158)
3,3,NaN,NaN,72.843532,POINT (72.84353211300539 19.01751641049149),19.017516,POINT (72.84353211300539 19.01751641049149)
4,4,NaN,NaN,72.837661,POINT (72.8376614 19.0094817),19.009482,POINT (72.8376614 19.0094817)
5,5,NaN,NaN,72.844344,POINT (72.84434387789514 18.96732091413225),18.967321,POINT (72.84434387789514 18.96732091413225)
6,6,NaN,NaN,72.844144,POINT (72.84414412090767 18.97812083602538),18.978121,POINT (72.84414412090767 18.97812083602538)
7,7,NaN,NaN,72.844087,POINT (72.8440871427147 18.987273139187),18.987273,POINT (72.8440871427147 18.987273139187)
8,8,NaN,NaN,72.854422,POINT (72.8544218 18.99877959999999),18.998780,POINT (72.8544218 18.99877959999999)
9,9,NaN,NaN,72.832905,POINT (72.83290483671482 18.9952211592503),18.995221,POINT (72.83290483671482 18.9952211592503)
10,10,NaN,NaN,72.833003,POINT (72.83300264649807 18.98657291304844),18.986573,POINT (72.83300264649807 18.98657291304844)
11,11,NaN,NaN,72.832865,POINT (72.83286471943161 18.9765995031473),18.976600,POINT (72.83286471943161 18.9765995031473)
12,12,NaN,NaN,72.830582,POINT (72.8305819 18.996213),18.996213,POINT (72.8305819 18.996213)
13,13,NaN,NaN,72.824327,POINT (72.82432667247258 18.98245925571712),18.982459,POINT (72.82432667247258 18.98245925571712)
14,14,NaN,NaN,72.818917,POINT (72.81891732456903 18.97093157550535),18.970932,POINT (72.81891732456903 18.97093157550535)
15,15,NaN,NaN,72.815930,POINT (72.8159299 18.96328940000001),18.963289,POINT (72.8159299 18.96328940000001)
16,16,NaN,NaN,72.818640,POINT (72.81864034859878 18.95154572186975),18.951546,POINT (72.81864034859878 18.95154572186975)
17,17,NaN,NaN,72.823852,POINT (72.82385246406432 18.94546049121383),18.945460,POINT (72.82385246406432 18.94546049121383)
18,18,NaN,NaN,72.827409,POINT (72.82740902712591 18.93379857391056),18.933799,POINT (72.82740902712591 18.93379857391056)
19,19,NaN,NaN,72.828587,POINT (72.8285867 18.98309209999999),18.983092,POINT (72.8285867 18.98309209999999)
20,20,NaN,NaN,72.832731,POINT (72.83273129999992 18.99522829999692),18.995228,POINT (72.83273129999992 18.99522829999692)
21,21,NaN,NaN,72.843310,POINT (72.84331049999993 18.99453349999688),18.994533,POINT (72.84331049999993 18.99453349999688)
22,22,NaN,NaN,72.844227,POINT (72.84422720000001 19.0015921),19.001592,POINT (72.84422720000001 19.0015921)
23,23,NaN,NaN,72.847871,POINT (72.8478709 19.00953930000001),19.009539,POINT (72.8478709 19.00953930000001)
24,24,NaN,NaN,72.859569,POINT (72.85956859999997 19.01779259999689),19.017793,POINT (72.85956859999997 19.01779259999689)
25,25,NaN,NaN,72.860523,POINT (72.8605226326289 19.01861396940611),19.018614,POINT (72.8605226326289 19.01861396940611)
26,26,NaN,NaN,72.859137,POINT (72.8591373328952 19.01638785620376),19.016388,POINT (72.8591373328952 19.01638785620376)
27,27,NaN,NaN,72.908204,POINT (72.90820442973303 19.0855894048231),19.085589,POINT (72.90820442973303 19.0855894048231)
28,28,NaN,NaN,72.902038,POINT (72.90203838242084 19.09254885292146),19.092549,POINT (72.90203838242084 19.09254885292146)
29,29,NaN,NaN,72.894934,POINT (72.89493424584758 19.0964067321584),19.096407,POINT (72.89493424584758 19.0964067321584)
...,...,...,...,...,...,...,...
26657,26657,6.585712e+08,NaN,72.829163,NaN,19.001268,POINT (72.8291631 19.0012683)
26658,26658,8.844302e+08,NaN,72.829155,NaN,19.141822,POINT (72.8291547 19.141822)
26659,26659,2.248802e+09,NaN,72.884258,NaN,19.053583,POINT (72.8842581 19.0535829)
26660,26660,2.222748e+09,NaN,72.827403,NaN,19.213400,POINT (72.8274033 19.2133996)
26661,26661,2.248802e+09,NaN,72.896267,NaN,19.053614,POINT (72.89626699999999 19.0536144)
26662,26662,2.248802e+09,NaN,72.885017,NaN,19.053615,POINT (72.8850173 19.0536146)
26663,26663,2.248802e+09,NaN,72.938609,NaN,19.053704,POINT (72.9386088 19.053704)
26664,26664,3.803644e+09,NaN,72.837318,NaN,19.064051,POINT (72.8373177 19.0640511)
26665,26665,3.803644e+09,NaN,72.837976,NaN,19.064063,POINT (72.83797629999999 19.0640635)
26666,26666,6.660423e+08,NaN,72.835786,NaN,18.934663,POINT (72.8357858 18.9346631)
26667,26667,1.496187e+09,NaN,72.857874,NaN,19.223982,POINT (72.85787430000001 19.2239824)
26668,26668,2.248802e+09,NaN,72.922020,NaN,19.053779,POINT (72.92202 19.0537794)
26669,26669,2.248802e+09,NaN,72.926527,NaN,19.053851,POINT (72.9265272 19.0538508)
26670,26670,6.489374e+08,NaN,72.799159,NaN,19.143231,POINT (72.7991585 19.1432307)
26671,26671,2.248802e+09,NaN,72.923243,NaN,19.053859,POINT (72.9232435 19.0538589)
26672,26672,4.364457e+09,NaN,72.841774,NaN,19.129706,POINT (72.841774 19.1297064)
26673,26673,2.216231e+09,NaN,72.817139,NaN,19.183709,POINT (72.81713860000001 19.1837091)
26674,26674,2.248802e+09,NaN,72.912850,NaN,19.053897,POINT (72.9128497 19.0538974)
26675,26675,1.188812e+09,NaN,72.848940,NaN,19.201099,POINT (72.84894 19.2010991)
26676,26676,2.248802e+09,NaN,72.934793,NaN,19.053913,POINT (72.9347927 19.0539131)
26677,26677,2.248802e+09,NaN,72.889012,NaN,19.053879,POINT (72.8890122 19.0538786)
26678,26678,2.248802e+09,NaN,72.892975,NaN,19.054020,POINT (72.8929752 19.0540197)
26679,26679,2.248802e+09,NaN,72.891238,NaN,19.054046,POINT (72.89123840000001 19.0540461)
26680,26680,3.742368e+09,NaN,72.846521,NaN,19.178748,POINT (72.84652060000001 19.1787484)
26681,26681,3.742368e+09,NaN,72.844008,NaN,19.179470,POINT (72.8440082 19.1794703)
26682,26682,2.248802e+09,NaN,72.938729,NaN,19.054153,POINT (72.93872880000001 19.0541526)
26683,26683,2.248802e+09,NaN,72.941089,NaN,19.054180,POINT (72.9410894 19.05418)
26684,26684,2.248802e+09,NaN,72.939160,NaN,19.054280,POINT (72.9391596 19.0542803)
26685,26685,2.248802e+09,NaN,72.938975,NaN,19.054232,POINT (72.9389755 19.0542324)
26686,26686,7.685953e+08,NaN,72.820732,NaN,18.992111,POINT (72.8207321 18.9921114)

In [64]:
in_df['x'] = in_df.geometry.x
in_df['y'] = in_df.geometry.y
G_tree = spatial.KDTree(node_gdf[['x','y']].as_matrix())

C:\WBG\Anaconda\envs\gost\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [77]:
distances, indices = G_tree.query(node_gdf[['x','y']].as_matrix())

C:\WBG\Anaconda\envs\gost\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [80]:
max(indices)

26686

In [74]:
max(indices)

26687

In [55]:
in_df

,household_id,individual_id,female,House No/ Flat No / Building Name,street,ward_home,sample point area,gps_reading_home,gps_latitude_home,gps_longitude_home,...,gps_accuracy_home,gps_satellites_home,city,pin_home,Do you work?-q9_1,Ward in Which Person Works,PIN code in which person works,geometry,x,y
0,65002,65002_1,0,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,"Yes, outside home",16.0,400067,POINT (72.83449399999999 19.206719),72.834494,19.206719
1,65002,65002_2,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,No,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
2,65002,65002_3,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
3,65002,65002_4,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,7.0,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719
4,19102,19102_1,0,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,"Yes, outside home",17.0,400098,POINT (72.861138 19.07244),72.861138,19.072440
5,19102,19102_2,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,No,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
6,19102,19102_4,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
7,19102,19102_3,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,8.0,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440
8,52404,52404_2,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,No,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
9,52404,52404_3,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
10,52404,52404_1,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,"Yes, outside home",14.0,400063,POINT (72.871748 19.180492),72.871748,19.180492
11,52404,52404_4,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
12,52404,52404_5,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,7.0,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492
13,48503,48503_5,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
14,48503,48503_3,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
15,48503,48503_4,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,"Yes, outside home",13.0,400086,POINT (72.917153 19.114861),72.917153,19.114861
16,48503,48503_1,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
17,48503,48503_2,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,10.0,8.0,MUMBAI,400076,No,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861
18,10104,10104_1,0,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,"Yes, outside home",21.0,Not applicable/Dont know,POINT (72.875075 19.02054),72.875075,19.020540
19,10104,10104_3,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,NaN,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540
20,10104,10104_2,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,18.0,11.0,MUMBAI,400037,No,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540
21,18204,18204_2,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,No,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262
22,18204,18204_3,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,NaN,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262
23,18204,18204_1,0,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,7.0,8.0,MUMBAI,400013,"Yes, outside home",12.0,400013,POINT (72.83156600000001 18.996262),72.831566,18.996262
24,47003,47003_2,1,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,No,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737
25,47003,47003_3,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,NaN,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737
26,47003,47003_1,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,12.0,9.0,MUMBAI,400086,"Yes, outside home",13.0,400086,POINT (72.93355200000001 19.109737),72.933552,19.109737
27,23501,23501_1,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,"Yes, outside home",3.0,400050,POINT (72.842555 19.054475),72.842555,19.054475
28,23501,23501_3,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475
29,23501,23501_4,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,6.0,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11298,18902,18902_2,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,20.0,5.0,MUMBAI,400055,No,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962
11299,18902,18902_4,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,20.0,5.0,MUMBAI,400055,NaN,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962
11300,34701,34701_1,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,"Yes, outside home",1.0,400069,POINT (72.883439 19.066503),72.883439,19.066503
11301,34701,34701_4,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11302,34701,34701_3,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11303,34701,34701_5,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11304,34701,34701_2,1,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,18.0,10.0,MUMBAI,400089,No,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503
11305,47602,47602_3,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11306,47602,47602_4,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11307,47602,47602_1,0,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,"Yes, outside home",7.0,400071,POINT (72.90137800000001 19.077087),72.901378,19.077087
11308,47602,47602_2,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,12.0,8.0,MUMBAI,400077,No,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087
11309,74702,74702_1,0,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,"Yes, outside home",22.0,400080,POINT (72.96552800000001 19.176531),72.965528,19.176531
11310,74702,74702_2,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,No,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531
11311,74702,74702_3,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,14.0,6.0,MUMBAI,400081,NaN,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531
11312,75502,75502_4,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,No,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11313,75502,75502_1,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11314,75502,75502_2,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11315,75502,75502_3,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,"Yes, outside home",22.0,400080,POINT (72.950799 19.165652),72.950799,19.165652
11316,75502,75502_5,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,20.0,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652
11317,13001,13001_1,0,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692
11318,13001,13001_2,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692
11319,13001,13001_3,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,10.0,9.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84468100000001 19.039692),72.844681,19.039692
11320,41503,41503_1,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,"Yes, outside home",7.0,400074,POINT (72.92568100000001 19.047618),72.925681,19.047618
11321,41503,41503_3,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11322,41503,41503_2,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,"Yes, from home",NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11323,41503,41503_4,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,4.0,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618
11324,13402,13402_3,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810
11325,13402,13402_2,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,No,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810
11326,13402,13402_1,0,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,"Yes, outside home",7.0,400074,POINT (72.84496 19.03381),72.844960,19.033810
11327,13402,13402_4,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,12.0,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810

In [73]:
node_gdf['node_ID'].iloc[26686]
#node_gdf['node_ID'].iloc[26687]

26686

In [56]:
#in_df['NN'] = list(node_gdf['node_ID'].iloc[indices])

C:\WBG\Anaconda\envs\gost\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

In [65]:
in_df['NN'] = indices

In [66]:
in_df

,household_id,individual_id,female,House No/ Flat No / Building Name,street,ward_home,sample point area,gps_reading_home,gps_latitude_home,gps_longitude_home,...,gps_satellites_home,city,pin_home,Do you work?-q9_1,Ward in Which Person Works,PIN code in which person works,geometry,x,y,NN
0,65002,65002_1,0,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,9.0,MUMBAI,400067,"Yes, outside home",16.0,400067,POINT (72.83449399999999 19.206719),72.834494,19.206719,3706
1,65002,65002_2,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,9.0,MUMBAI,400067,No,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719,3706
2,65002,65002_3,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719,3706
3,65002,65002_4,1,25,NEW LINKING ROAD,16,650,Yes,19.206719,72.834494,...,9.0,MUMBAI,400067,NaN,NaN,NaN,POINT (72.83449399999999 19.206719),72.834494,19.206719,3706
4,19102,19102_1,0,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,7.0,MUMBAI,400098,"Yes, outside home",17.0,400098,POINT (72.861138 19.07244),72.861138,19.072440,11462
5,19102,19102_2,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,7.0,MUMBAI,400098,No,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440,11462
6,19102,19102_4,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440,11462
7,19102,19102_3,1,66,JSW ROAD,17,191,Yes,19.072440,72.861138,...,7.0,MUMBAI,400098,NaN,NaN,NaN,POINT (72.861138 19.07244),72.861138,19.072440,11462
8,52404,52404_2,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,11.0,MUMBAI,400097,No,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492,21690
9,52404,52404_3,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492,21690
10,52404,52404_1,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,11.0,MUMBAI,400097,"Yes, outside home",14.0,400063,POINT (72.871748 19.180492),72.871748,19.180492,21690
11,52404,52404_4,0,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492,21690
12,52404,52404_5,1,267,AZAD HIND SOCIETY,19,524,Yes,19.180492,72.871748,...,11.0,MUMBAI,400097,NaN,NaN,NaN,POINT (72.871748 19.180492),72.871748,19.180492,21690
13,48503,48503_5,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861,16102
14,48503,48503_3,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861,16102
15,48503,48503_4,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,8.0,MUMBAI,400076,"Yes, outside home",13.0,400086,POINT (72.917153 19.114861),72.917153,19.114861,16102
16,48503,48503_1,0,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,8.0,MUMBAI,400076,NaN,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861,16102
17,48503,48503_2,1,"NAGABABA,NAGAR VARSHA NAGAR",HIRANANDANI ROAD,13,485,Yes,19.114861,72.917153,...,8.0,MUMBAI,400076,No,NaN,NaN,POINT (72.917153 19.114861),72.917153,19.114861,16102
18,10104,10104_1,0,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,11.0,MUMBAI,400037,"Yes, outside home",21.0,Not applicable/Dont know,POINT (72.875075 19.02054),72.875075,19.020540,20545
19,10104,10104_3,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,11.0,MUMBAI,400037,NaN,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540,20545
20,10104,10104_2,1,"178, SHANTI NAGAR",SHANTI NAGAR ROAD,21,101,Yes,19.020540,72.875075,...,11.0,MUMBAI,400037,No,NaN,NaN,POINT (72.875075 19.02054),72.875075,19.020540,20545
21,18204,18204_2,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,8.0,MUMBAI,400013,No,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262,24171
22,18204,18204_3,1,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,8.0,MUMBAI,400013,NaN,NaN,NaN,POINT (72.83156600000001 18.996262),72.831566,18.996262,24171
23,18204,18204_1,0,48GULVALA CHOWAL,DATTA RD,12,182,Yes,18.996262,72.831566,...,8.0,MUMBAI,400013,"Yes, outside home",12.0,400013,POINT (72.83156600000001 18.996262),72.831566,18.996262,24171
24,47003,47003_2,1,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,9.0,MUMBAI,400086,No,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737,9659
25,47003,47003_3,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,9.0,MUMBAI,400086,NaN,NaN,NaN,POINT (72.93355200000001 19.109737),72.933552,19.109737,9659
26,47003,47003_1,0,2,PRIOZSHAN GODREJ MARG,13,470,Yes,19.109737,72.933552,...,9.0,MUMBAI,400086,"Yes, outside home",13.0,400086,POINT (72.93355200000001 19.109737),72.933552,19.109737,9659
27,23501,23501_1,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,10.0,MUMBAI,400051,"Yes, outside home",3.0,400050,POINT (72.842555 19.054475),72.842555,19.054475,14896
28,23501,23501_3,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475,14896
29,23501,23501_4,0,65 MAKRANI GALLI,STATION RD,3,235,Yes,19.054475,72.842555,...,10.0,MUMBAI,400051,NaN,NaN,NaN,POINT (72.842555 19.054475),72.842555,19.054475,14896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11298,18902,18902_2,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,5.0,MUMBAI,400055,No,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962,16355
11299,18902,18902_4,1,GATE1,VAKOLA,17,189,Yes,19.079962,72.847178,...,5.0,MUMBAI,400055,NaN,NaN,NaN,POINT (72.847178 19.079962),72.847178,19.079962,16355
11300,34701,34701_1,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,10.0,MUMBAI,400089,"Yes, outside home",1.0,400069,POINT (72.883439 19.066503),72.883439,19.066503,17387
11301,34701,34701_4,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503,17387
11302,34701,34701_3,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503,17387
11303,34701,34701_5,0,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,10.0,MUMBAI,400089,NaN,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503,17387
11304,34701,34701_2,1,1,LOKMANYA TILK ROAD,18,347,Yes,19.066503,72.883439,...,10.0,MUMBAI,400089,No,NaN,NaN,POINT (72.883439 19.066503),72.883439,19.066503,17387
11305,47602,47602_3,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087,11835
11306,47602,47602_4,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,8.0,MUMBAI,400077,NaN,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087,11835
11307,47602,47602_1,0,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,8.0,MUMBAI,400077,"Yes, outside home",7.0,400071,POINT (72.90137800000001 19.077087),72.901378,19.077087,11835
11308,47602,47602_2,1,A WING KARMSANKLP BUILDING,RAJWADI ROAD,13,476,Yes,19.077087,72.901378,...,8.0,MUMBAI,400077,No,NaN,NaN,POINT (72.90137800000001 19.077087),72.901378,19.077087,11835
11309,74702,74702_1,0,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,6.0,MUMBAI,400081,"Yes, outside home",22.0,400080,POINT (72.96552800000001 19.176531),72.965528,19.176531,11454
11310,74702,74702_2,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,6.0,MUMBAI,400081,No,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531,11454
11311,74702,74702_3,1,NEELAM NAGAR R/13 MULUND EAST,P G ROAD,22,747,Yes,19.176531,72.965528,...,6.0,MUMBAI,400081,NaN,NaN,NaN,POINT (72.96552800000001 19.176531),72.965528,19.176531,11454
11312,75502,75502_4,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,6.0,MUMBAI,400080,No,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652,11389
11313,75502,75502_1,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652,11389
11314,75502,75502_2,1,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652,11389
11315,75502,75502_3,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,6.0,MUMBAI,400080,"Yes, outside home",22.0,400080,POINT (72.950799 19.165652),72.950799,19.165652,11389
11316,75502,75502_5,0,794,JAWAHAR LAL ROAD,22,755,Yes,19.165652,72.950799,...,6.0,MUMBAI,400080,NaN,NaN,NaN,POINT (72.950799 19.165652),72.950799,19.165652,11389
11317,13001,13001_1,0,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692,19610
11318,13001,13001_2,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,9.0,MUMBAI,400016,"Yes, outside home",10.0,400028,POINT (72.84468100000001 19.039692),72.844681,19.039692,19610
11319,13001,13001_3,1,GARDEN VIEW B/03,M M CHOTANI MARG,10,130,Yes,19.039692,72.844681,...,9.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84468100000001 19.039692),72.844681,19.039692,19610
11320,41503,41503_1,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,12.0,MUMBAI,400088,"Yes, outside home",7.0,400074,POINT (72.92568100000001 19.047618),72.925681,19.047618,15734
11321,41503,41503_3,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618,15734
11322,41503,41503_2,1,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,12.0,MUMBAI,400088,"Yes, from home",NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618,15734
11323,41503,41503_4,0,NAMDEV SAWANT CHOWAL,AGARWADI VILLAGE RD,98,415,Yes,19.047618,72.925681,...,12.0,MUMBAI,400088,NaN,NaN,NaN,POINT (72.92568100000001 19.047618),72.925681,19.047618,15734
11324,13402,13402_3,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810,13864
11325,13402,13402_2,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,8.0,MUMBAI,400016,No,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810,13864
11326,13402,13402_1,0,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,8.0,MUMBAI,400016,"Yes, outside home",7.0,400074,POINT (72.84496 19.03381),72.844960,19.033810,13864
11327,13402,13402_4,1,O,CSM ROAD,10,134,Yes,19.033810,72.844960,...,8.0,MUMBAI,400016,NaN,NaN,NaN,POINT (72.84496 19.03381),72.844960,19.033810,13864